@CHARSET "UTF-8";

body {
	background: #f7f7f7;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

#navigation:AFTER {
	height: 1px;
	background: #b6b6b6;
}

#help-top-nav {
	height: 38px;
	background: #227dda;
	color: #ffffff;
}

#help-top-nav ul {
	list-style: none;
	padding: 0px;
}

#help-top-nav ul li {
	display: inline-block;
	position: relative;
	height: 38px;
	line-height: 38px;
	margin-right: 16px;
	padding-right: 24px;
}

#help-top-nav ul li span.triangle-right {
	display: block;
	position: absolute;
	width: 0px;
	top: 50%;
	margin-top: -6px;
	right: -4px;
	height: 0px;
	border-style: solid;
	border-width: 6px 0 6px 8px;
	border-color: transparent transparent transparent #ffffff;
}

.help-nav {
	width: 230px;
}

.help-nav ul.help-menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.help-nav ul.help-menu li {
	position: relative;
	padding-left: 16px;
	border-bottom: 1px solid #d3d3d3;
	height: 40px;
	cursor: pointer;
}

.help-nav ul.help-menu li.hilight {
	background: #fcfcfc;
}

.help-nav ul.help-menu li a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #1e1e1e;
	font-size: 14px;
	text-decoration: none;
}

.help-nav ul.help-menu li.hilight a {
	color: #227dda;
}

#help-details-container {
	width: 690px;
}

#help-details-container .title {
	font-size: 18px;
	color: #1e1e1e;
	line-height: 36px;
}