@CHARSET "UTF-8";

#help-details-container {
	overflow: hidden;
}

#help-details-container .master-details-flow {
	width: 1380px;
}

#help-details-container .master-details-flow .master {
	width: 690px;
}

#help-details-container .master-details-flow .details {
	width: 690px;
}

#help-details-container .master-details-flow .master ul {
	list-style: none;
	padding: 0px;
}

#help-details-container .master-details-flow .master ul li {
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #d3d3d3;
}

#help-details-container .master-details-flow .details .back {
	margin-bottom: 8px;
}

#help-details-container .master-details-flow .details .back a {
	text-decoration: none;
}
#help-details-container .master-details-flow .details .template {
	display: none;
}