@CHARSET "UTF-8";

#help-details-container .section {
	font-size: 14px;
	line-height: 24px;
	margin-top: 8px;
}

#help-details-container .section .section-title {
	color: #1e1e1e;
	margin-top: 14px;
	font-weight: bold;
}

#help-details-container .section .section-subtitle {
	color: #1e1e1e;
	margin-top: 14px;
}

#help-details-container .section .section-abstract
	{
	color: #6e6e6e;
}

#help-details-container .section .section-abstract img {
	display: block;
	margin: 12px auto;
}

#help-details-container .section .section-more-container {
	display: none;
}

#help-details-container .section a {
	color: #227dda;
}

#help-details-container .section a:HOVER {
	color: #2a6496;
	text-decoration: none;
}

#help-details-container .section .section-more-action {
	position: relative;
}

#help-details-container .section .section-more-action span {
	display: inline-block;
	margin-right: 8px;
}