@CHARSET "UTF-8";

.image-compare {
	width: 672px;
	margin: 0px auto
}

.image-compare img {
	width: 330px;
	margin-top: 12px;
}

.image-compare .before {
	text-align: center;
	color: red;
}

.image-compare .after {
	text-align: center;
	color: green;
}