<%@ page pageEncoding="UTF-8" %>
<%@include file="/WEB-INF/jspf/prepare.jspf" %>
<div class="book-container">
    <div class="data-preorder-days hidden">
        <c:forEach items="${house.subscription}" var="cur">
            <div class="data-preorder-day" data-day="<fmt:formatDate value="${cur.value.day}" pattern="yyyy-MM-dd"/>" title="${cur.value.dayInfo}">
                <c:forEach items="${cur.value.items}" var="current"><span data-available="${!fn:contains(current.customers,principal.id)}"></span></c:forEach>
            </div>
        </c:forEach>
    </div>
    <div class="book-title">
        <img src="${ctx}/images/icon-calendar.png" /> <span>&nbsp;预约看房时间</span>
    </div>
    <div class="claendar-container">
        <div class="datepicker"></div>
        <div class="legend">
            <img alt="" src="${ctx}/images/icon-available.png"/> 可预约日期
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img alt="" src="${ctx}/images/icon-not-available.png"/> 不可预约日期
        </div>
        <div class="error"></div>
        <div class="select-time">
            <div class="time-item selected">
                <div class="time">09:00 - 12:00</div>
                <div class="checkbox">
                    <div class="checkbox-bg">
                        <div style="width: 78px">
                            <div class="checked-bg"></div>
                            <div class="unchecked-bg"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="blockContainer right">
                        <div class="block"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="time-item disabled">
                <div class="time">12:00 - 18:00</div>
                <div class="checkbox">
                    <div class="checkbox-bg">
                        <div style="width: 78px;">
                            <div class="checked-bg"></div>
                            <div class="unchecked-bg"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="blockContainer right">
                        <div class="block"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="time-item">
                <div class="time">18:00 - 21:00</div>
                <div class="checkbox">
                    <div class="checkbox-bg">
                        <div style="width: 78px">
                            <div class="checked-bg"></div>
                            <div class="unchecked-bg"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="blockContainer right">
                        <div class="block"></div>
                    </div>
                </div>
            </div>
        </div>
        <button id="book-it" class="btn btn-orange authenticated-required" autocomplete="off">预约</button>
    </div>

    <div class="popup book-confirm">
        <form id="form-preorder" class="validate" role="form" action="subscribe" method="post">
            <div class="title">1. 确认预约申请信息</div>
            <div class="step">
                <div class="clearfix">
                    <div class="pull-left">
                        <img alt="preview" style="width:185px;height:105px;" src="${empty house.preview ? ctx : srx}${empty house.preview ? "/images/house-book-confirm-img-default.jpg" : house.preview}">
                    </div>
                    <div class="text pull-left">
                        <div class="head">${house.communityName}</div>
                        <div class="content">${house.address}</div>
                        <input type="hidden" name="houseId" value="${house.id}"/>
                    </div>

                    <div class="text right pull-left">
                        <div class="head">预约日期及时段</div>
                        <div class="content"><span>yyyy年M月d日，E</span> 12:00 - 18:00</div>
                        <input type="hidden" name="day"/>
                        <input type="hidden" name="time"/>
                    </div>
                </div>
            </div>
            <div class="title">2. 提供您的联系方式</div>
            <div class="step">
                <div class="form-group">
                    <label for="real-name">您的姓名</label>
                    <input id="real-name" class="form-control" type="text" name="customerName" value="${principal.username}"
                               data-rule-required="true"
                               data-rule-maxlength="40"
                               data-msg-required="请填写您的姓名"/>
                </div>
                <div class="form-group">
                    <label for="phone-num">手机号码</label>
                    <input id="phone-num" class="form-control" type="text" name="customerPhone" value="${principal.mobile}"
                               data-rule-required="true"
                               data-rule-mobile="true"
                               data-msg-required="请填写您的手机号码"
                               data-msg-mobile="请填写格式正确的手机号码"/>
                    <a id="receive-validate-number" href="javascript:;">获取验证码</a>
                </div>
                <div class="form-group">
                    <label for="validate-code">验证码</label>
                    <input id="validate-code" class="form-control" type="text" name="smscode"
                               data-rule-required="true"
                               data-rule-rangelength="[6,6]"
                               data-msg-required="请先获取验证码"
                               data-msg-rangelength="请输入6位验证码"/>
                </div>
                <div class="tip">手机是窝噻与您取得联系的重要途径，请务必保证填写正确。</div>
            </div>
            <div class="title">3. 政策</div>
            <div class="step checkbox">
                <label><input type="checkbox"/> 我同意窝噻网的<a href="#">看房守则</a>和<a href="#">服务条款</a>。</label>
            </div>
            <div style="text-align: center;">
                <button id="book-confirmed-action" class="btn btn-bg" type="submit" disabled="disabled">确定预约</button>
            </div>
        </form>
    </div>
    <div class="popup book-confirm-result">
        <div class="title">预约申请成功</div>
        <div class="description">
            窝噻网将在<span class="day-pre">2014年2月5日星期三</span>15:00之后与您确认第二天看房的具体时间，届时请留意您的邮箱和短消息。在此之前，您可以在右上角“我的账户”中修改或取消您此次的预约申请。
        </div>
        <div class="action">
            <a id="book-confirmed-result-action" class="btn btn-primary" href="${ctx}">我知道了</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="${ctx}/js/rich-calendar.js"></script>