@CHARSET "utf-8";

.house-item {
	width: 238px;
	height: 191px;
	margin: 0px 20px 20px 0px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	background: #ffffff;
}

.house-item a {
	text-decoration: none;
}

.house-item table {
	display: table;
	border-spacing: 0px;
	width: 100%;
	margin-top: 6px;
}

.house-item table tr td {
	line-height: 18px;
	height: 18px;
	padding: 0px 12px;
}

.house-item table tr td.name {
	font-size: 14px;
	color: #1e1e1e;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
	width: 60%;
}

.house-item table tr td.price{
	text-align: right;
	width: 30%;
	font-size: 12px;
	color: #1e1e1e;
}
.house-item table tr td.price span.number{
	font-size: 18px;
	color: #227dda;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}
.house-item table tr td.price span.number{
	font-size: 18px;
	color: #227dda;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}

.house-item table tr td.address,.house-item table tr td.area {
	font-size: 12px;
	color: #8c8c8c;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}

.house-item table tr td.area {
	text-align: right;
}