@CHARSET "utf-8";

.popup-tip {
	padding: 24px 48px;
	font-size: 16px;
	line-height: 36px;
	color: #555555;
	text-align: center;
}

#content {
	border-bottom: 1px solid #b6b6b6;
	background: #e7e7e7;
	padding: 20px 0px;
}

#content #left {
	width: 690px;
	float: left;
	position: relative;
}

#content #right {
	width: 284px;
	float: right;
}

#gallery .gallery-header {
	background: #ffffff;
	padding: 0px 13px;
	position: relative;
	height: 80px;
}

#gallery .gallery-header .icon-flag {
	width: 84px;
	height: 84px;
	position: absolute;
	right: -5px;
	top: -5px;
}

#gallery .gallery-header .icon-flag.icon-sale {
	background: url("../images/icon-sale.png");
}

#gallery .gallery-header .estate-name {
	color: #393c3d;
	font-size: 24px;
	line-height: 24px;
	padding: 15px 0px 10px 0px;
}

#gallery .gallery-header .estate-address {
	color: #959595;
	font-size: 14px;
	display: inline-block;
	float: left;
	width: 450px;
}

#gallery .gallery-header .like-container {
	color: #6e6e6e;
	font-size: 14px;
	display: inline-block;
	float: right;
	width: 135px;
	position: relative;
	text-indent: 2em;
}

#gallery .gallery-header .like-container .icon-like {
	background: url("../images/icon-like-default.png");
	width: 22px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -10px;
	cursor: pointer;
}

#gallery .gallery-header .like-container .icon-like.liked {
	background: url("../images/icon-like-liked.png");
}