@CHARSET "UTF-8";

.share-container {
	width: 284px;
	background-color: #ffffff;
	padding: 20px 16px;
	margin-top: 18px;
}

.share-container .title {
	position: relative;
	text-indent: 32px;
	font-weight: bolder;
	font-size: 16px;
	color: #313131;
	margin-bottom: 8px;
}

.share-container .description {
	font-size: 14px;
	line-height: 26px;
	color: #555555;
	margin: 16px 0px;
}

.share-container .title .icon-share {
	display: inline-block;
	width: 25px;
	height: 20px;
	position: absolute;
	background: url("../images/icon-share.png");
	left: 0px;
	top: 50%;
	margin-top: -10px;
}

.share-container .input-container {
	margin: 14px 0px;
}

.share-container .input-container .control-label {
	color: #227dda;
	font-weight: normal;
}
.share-container .input-container.has-error .control-label {
	color: #ff0000;
	font-weight: normal;
}

.share-container .input-container div {
	display: inline-block;
	position: relative;
}

.share-container .input-container input {
	width: 252px;
	height: 38px;
	color: #959595;
	font-size: 14px;
	background: #ecede8;
}

.share-container .input-container.has-error input {
	border: 1px solid #cccccc;
	background: #ecede8;
}

.share-container .input-container.has-error input:FOCUS {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.share-container .action {
	height: 38px;
}

.share-container .action .pull-left {
	height: 38px;
	position: relative;
	text-indent: 22px;
	line-height: 38px;
}

.share-container .action button {
	width: 118px;
}