@CHARSET "utf-8";

/* change emulateTransitionEnd(600) to emulateTransitionEnd(3000) in Carousel.prototype.slide() */
/* .carousel .item {
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

.carousel .active.left,.carousel .active.right {
	left: 0 !important;;
	opacity: 0;
	z-index: 2;
}

.carousel .next {
	left: 0 !important;
	opacity: 1;
	z-index: 1;
} */
#slideshow .carousel.slide .item {
	
}

#left div.house-type-pic {
	position: absolute;
	padding: 30px 15px 30px 15px;
	width: 310px;
	height: 310px;
	right: -310px;
	top: 130px;
	background: #ffffff;
	z-index: 500;
	display: none;
	border: 1px solid #eeeeee;
}

#left div.house-type-pic .house-type-pic-content {
	position: relative;
	width: 278px;
	height: 278px;
}

#left div.house-type-pic .house-type-pic-content img.picture {
	width: 278px;
	height: 200px;
	border: none;
}

#left div.house-type-pic span.house-type-pic-handler {
	/*不要了  */
	display: none;
	position: absolute;
	width: 15px;
	height: 35px;
	right: -15px;
	top: 50%;
	margin-top: -18px;
	background: url("../images/house-type-pic-handler.png");
	z-index: 910;
}

#left div.house-type-pic .house-type-pic-content .legend {
	position: relative;
	width: 278px;
	height: 68px;
	line-height: 68px;
	width: 278px;
}

#left div.house-type-pic .house-type-pic-content .legend div {
	height: 68px;
	position: relative;
	line-height: 68px;
}

#left div.house-type-pic .house-type-pic-content .legend .camera-icon {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 31px;
	margin-top: -16px;
}

#left div.house-type-pic .house-type-pic-content .legend .camera-text {
	display: inline-block;
	font-size: 14px;
	color: #313131;
	text-indent: 42px;
}

#left div.house-type-pic .house-type-pic-content .legend .derection-icon
	{
	position: absolute;
	top: 50%;
	width: 29px;
	right: 24px;
	height: 26px;
	margin-top: -13px;
}

#left div.house-type-pic .house-type-pic-content .legend .derection-text
	{
	font-family: 'Arial';
	font-size: 18px;
	color: #313131;
}

#left div.icon-house-type-pic-trigger {
	position: absolute;
	width: 32px;
	height: 32px;
	right: 0px;
	top: 267px;
	background: url("../images/icon-house-type-pic-trigger.png");
	cursor: pointer;
	z-index: 900;
}

#left div.icon-house-type-in-out {
	position: absolute;
	width: 15px;
	height: 35px;
	right: -15px;
	top: 267px;
	background: url("../images/icon-house-type-out.png");
	z-index: 900;
}

#left div.icon-house-type-in-out.out {
	background: url("../images/icon-house-type-out.png");
}

#left div.icon-house-type-in-out.in {
	background: url("../images/icon-house-type-in.png");
}

.slideshow-images,.slideshow-thumbnails {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.image-container {
	padding: 7px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.thumbnails-container {
	padding: 0;
	position: relative;
	background: #ffffff;
}

.slideshow-images {
	height: 426px;
	width: 639px;
	position: relative
}

.slideshow-images li {
	position: absolute
}

.slideshow-images li img {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.slideshow-images li.active img {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100)
}

.slideshow-preload,.slideshow-caption.hidden {
	display: none
}

img.slideshow-btn {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
}

img.slideshow-next {
	right: 4px;
}

img.slideshow-prev {
	left: 4px;
}

.thumbnails-viewport {
	position: relative;
	overflow: hidden;
	height: 70px;
	margin: 0 24px;
	padding: 6px;
}

.slideshow-thumbnails {
	position: absolute;
	left: 0;
	width: 4000px;
	padding-left: 5px;
	-webkit-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out
}

.slideshow-thumbnails li {
	float: left;
	margin: 0px 2px;
	border: 1px #c2c2c2 solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
}

.slideshow-thumbnails li.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1.0;
}

.slideshow-thumbnails li img {
	width: 102px;
	height: 60px;
	cursor: pointer;
}