@CHARSET "utf-8";

form {
	margin: 0px;
}

.house-publish-container {
	margin-bottom: 30px;
}

.house-publish-container .content-width,.confirm-profile-container .content-width
	{
	max-width: 730px;
}

.house-publish-container .title,.confirm-profile-container .title {
	font-size: 20px;
	margin: 24px 0px 8px 0px;
	color: #1e1e1e;
	text-align: center;
}

.house-publish-container .description,.confirm-profile-container .description
	{
	font-size: 14px;
	color: #6e6e6e;
	margin-bottom: 28px;
	line-height: 24px;
	text-align: center;
}

.confirm-profile-container .description {
	margin-bottom: 18px;
}

.house-publish-container .form-item {
	margin: 16px 0px;
}

.house-publish-container .form-item .tip {
	text-indent: 70px;
	color: #6e6e6e;
	font-size: 14px;
	margin-top: 16px;
}
.house-publish-container .form-item .error, .confirm-profile-container .form-item .error{
	color: #ff0101;
	text-indent: 1em;
	display: inline-block;
}

.house-publish-container .form-item .dropdown-container {
	display: inline-block;
	position: relative;
}

.house-publish-container .form-item .dropdown-menu {
	margin-left: 10px;
	min-width: 136px;
}

.house-publish-container a {
	display: inline-block;
	position: relative;
}

.house-publish-container .form-item span.suffix {
	display: inline-block;
	padding: 0px 6px;
}

.house-publish-container .form-item a#more-info {
	display: block;
	margin-left: 204px;
}

.house-publish-container .form-item a#more-info span.text {
	display: inline-block;
	margin-right: 8px;
}

.house-publish-container .form-item .images-container {
	padding: 0px;
}

.house-publish-container .form-item .images-container ul {
	margin: 0px;
	padding: 0px;
}

.house-publish-container .form-item .images-container ul li {
	float: left;
	position: relative;
	margin: 24px 0px 0px 24px;;
	padding: 0px;
	width: 184px;
	height: 104px;
	border: 3px #e2e2e2 solid;
	list-style-type:none;
}

.house-publish-container .form-item .images-container ul li a.add-pic {
	display: block;
	width: 100%;
	position: absolute;
	height: 100%;
	top:0px;
	left:0px;
}

.house-publish-container .form-item .images-container ul li a.add-pic .icon-input-file
	{
	
}

.house-publish-container .form-item .images-container ul li span.icon-close
	{
	top: 2px;
	right: -11px;
	z-index: 19;
	display: none;
}

.house-publish-container .form-item .images-container ul li input {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
        margin-left: 0px;
	z-index: 9;
	opacity: 0;
	filter: alpha(opacity = 0);
	opacity: 0;
}

.house-publish-container label {
	width: 192px;
	text-align: right;
	color: #1e1e1e;
	font-weight: normal;
}

.house-publish-container label.total {
	margin-left: 28px;
}

.house-publish-container label.rich-label {
	line-height: 24px;
	text-align: left;
}

.house-publish-container label.rich-label span {
	color: #6e6e6e;
}

.house-publish-container label.n-floor-current {
	margin-left: 75px;
}

.house-publish-container input {
	width: 270px;
	display: inline-block;
	margin-left: 10px;
	height: 28px;
}

.house-publish-container textarea,.house-publish-container .form-item .images-container
	{
	width: 446px;
	display: inline-block;
	margin-left: 10px;
	overflow-y: scroll;
	resize: none;
}

.house-publish-container textarea {
	height: 138px;
}

.house-publish-container .form-item .images-container {
	height: 290px;
}

.house-publish-container button {
	margin-left: 72px;
	width: 145px;
}

.house-publish-container input#district-name {
	width: 224px;
}

.house-publish-container input#district-address {
	width: 340px;
}

.house-publish-container input#area,.house-publish-container input#total
	{
	width: 138px;
}

.house-publish-container input#n-bedroom,#n-parlor,#n-bathroom {
	width: 54px;
}

.house-publish-container input#house-type {
	width: 136px;
}

.house-publish-container input#n-floor-current,#n-floor-total {
	width: 58px;
}

.house-publish-container input#n-floor-total {
	margin-left: 0px;
}

.house-publish-container input#n-parlor,#n-bathroom {
	margin-left: 0px;
}

.confirm-profile-container {
	background: #ededed;
	border-top: 1px solid #b6b6b6;
	padding-bottom: 82px;
}

.confirm-profile-container .form-item {
	margin: 8px auto;
}

.confirm-profile-container .form-item button {
	margin-top: 10px;
}

.confirm-profile-container label {
	width: 292px;
	text-align: right;
	font-weight: normal;
}

.confirm-profile-container input {
	width: 128px;
	height: 26px;
	padding-top:0px;	//for IE. by terraso.
	padding-bottom:0px;
	display: inline-block;
	margin-left: 10px;
}

.confirm-profile-container button {
	margin-left: 308px;
	width: 128px;
	height: 32px;
}
.confirm-profile-container a {
	display: inline-block;
	text-indent: 1em;
}