@CHARSET "utf-8";

#footer {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.reset-password-container {
	color: #1e1e1e;
	min-height: 500px;
}

.reset-password-container .title {
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	margin-top: 28px;
	margin-bottom: 18px;
}

.reset-password-container .form-item {
	margin: 8px 0px;
}

.reset-password-container label {
	width: 58px;
	text-align: right;
	font-weight: normal;
}

.reset-password-container input {
	width: 270px;
	height: 38px;
	display: inline-block;
	margin-left: 10px;
}

.reset-password-container button {
	margin-left: 72px;
	width: 145px;
	margin-top: 12px;
	height: 38px;
}

.reset-password-container form div.tip {
	margin-left: 72px;
}

.reset-password-container form div.error {
	color: #ff0101;
}

.reset-password-container form div.info {
	color: #c2c2c2;
}