
@charset "UTF-8";
.book-container {
    background-color: #FFFFFF;
    padding: 20px 0;
    width: 284px;
}
.book-container .ui-widget {
    font-family: 'Helvetica LT Std';
}
.book-container .book-title {
    color: #313131;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    padding: 0 24px;
    position: relative;
    vertical-align: middle;
}
.book-container .book-title img {
    margin-top: -11px;
    position: absolute;
    top: 50%;
}
.book-container .book-title span {
    display: inline-block;
    font-weight: bolder;
    height: 22px;
    line-height: 22px;
    text-indent: 28px;
}
.book-container .claendar-container {
    background-color: #FFFFFF;
    margin-top: 12px;
}
.book-container .claendar-container .datepicker {
    padding: 0 24px;
}
.ui-datepicker {
    padding: 0;
    width: 235px;
}
.ui-datepicker .ui-datepicker-prev .ui-icon {
    background: url("../images/icon-calendar-prev.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.ui-datepicker .ui-datepicker-next .ui-icon {
    background: url("../images/icon-calendar-next.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.ui-datepicker-calendar th {
    color: #6E6E6E;
}
.ui-widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #DDDDDD;
}
.ui-datepicker table {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.ui-datepicker td a {
    padding: 6px 0;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.ui-datepicker td span {
    text-align: center;
}
.ui-widget-header {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #E78F08;
    color: #000000;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background: none repeat scroll 0 0 #E2E2E2;
    border: 0 solid #CCCCCC;
    color: #898989;
    font-weight: bold;
}
.ui-datepicker-other-month .ui-state-default {
    color: #6E6E6E;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 1;
}
.ui-datepicker-unselectable .ui-state-default, .ui-state-disabled .ui-state-default {
    background: none repeat scroll 0 0 #FFFFFF;
}
.available-days .ui-state-default {
    background: none repeat scroll 0 0 #3CB6E9;
    color: #FFFFFF;
}
.available-days .ui-state-default:hover {
    opacity: 0.25;
}
.selected-days .ui-state-default:hover {
    opacity: 0.85;
}
.selected-days .ui-state-default {
    background: none repeat scroll 0 0 #227DDA;
    color: #FFFFFF;
}
.tobe-available-days .ui-state-default {
    background: none repeat scroll 0 0 #9EDFFF;
    color: #FFFFFF;
}
.book-container .legend {
    color: #6E6E6E;
    font-size: 12px;
    margin: 10px auto;
    text-align: center;
}
.book-container .error {
    color: #FF0101;
    font-family: SimSun;
    font-size: 12px;
    margin-bottom: 8px;
    text-align: center;
}
.book-container .select-time {
    background-color: #EBEBEB;
    display: none;
}
.book-container .select-time.visable {
    display: block;
}
.clear {
    clear: both;
}
.book-container .select-time .time-item {
    color: #1E1E1E;
    cursor: pointer;
    font-family: Verdana;
    height: 31px;
    padding: 5px 28px;
    vertical-align: middle;
}
.book-container .select-time .time-item.selected {
}
.book-container .select-time .time-item.disabled {
    color: #959595;
    cursor: pointer;
}
.book-container .select-time .time-item:hover {
    background-color: #959595;
    color: #FFFFFF;
}
.book-container .select-time .time-item div.time {
    float: left;
    font-size: 14px;
    margin-right: 60px;
}
.book-container .select-time .time-item .checkbox {
    float: right;
}
.book-container .select-time .time-item .checkbox {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    width: 38px;
}
.book-container .select-time .time-item .checkbox .checkbox-bg {
    height: 16px;
    overflow: hidden;
    width: 38px;
}
.book-container .select-time .time-item .checkbox .checkbox-bg .checked-bg {
    background-image: url("../images/checkbox-checked.png");
    float: left;
    height: 16px;
    width: 38px;
}
.book-container .select-time .time-item .checkbox .checkbox-bg .unchecked-bg {
    background-image: url("../images/checkbox-unchecked.png");
    float: left;
    height: 16px;
    width: 38px;
}
.book-container .select-time .time-item .checkbox .blockContainer {
    margin-top: -15px;
    position: relative;
}
.book-container .select-time .time-item .checkbox .blockContainer.left {
    margin-left: 2px;
}
.book-container .select-time .time-item .checkbox .blockContainer.right {
    margin-left: 20px;
}
.book-container .select-time .time-item .checkbox .blockContainer .block {
    background-image: url("../images/checkbox-block.png");
    height: 14px;
    width: 17px;
}
.book-container .spllite {
    background-color: #BEBEBE;
    height: 1px;
}
.book-container #book-it {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    margin: 20px auto 0;
    text-align: center;
    width: 249px;
}
#message {
    display: none;
}
.popup.book-confirm {
    margin-top: 32px;
    width: 558px;
}
.popup.book-confirm form {
    padding: 0 0 14px;
}
.popup.book-confirm form .step {
    padding: 18px 8px 12px 32px;
}
.popup.book-confirm form .step .description {
    color: #1E1E1E;
    font-size: 12px;
    margin-top: 12px;
    padding-right: 12px;
}
.popup.book-confirm form .step .text {
    color: #1E1E1E;
    font-size: 14px;
    padding: 0 12px;
    width: 160px;
}
.popup.book-confirm form .step .text.right {
    padding: 0;
    width: 170px;
}
.popup.book-confirm form .step .error {
    color: #FF0101;
}
.popup.book-confirm form .step .text .head {
    font-weight: bolder;
}
.popup.book-confirm form .step .text .content {
    margin-top: 4px;
}
.popup.book-confirm .form-group label {
    color: #1E1E1E;
    font-weight: normal;
    text-align: right;
    width: 56px;
}
.popup.book-confirm .checkbox label {
    width: 100%;
}
.popup.book-confirm .checkbox input[type="checkbox"] {
    display: inline-block;
    margin-left: 0;
    margin-right: 8px;
}
.popup.book-confirm .form-group input {
    display: inline-block;
    height: 28px;
    margin: 0 15px;
    width: 138px;
}
.popup.book-confirm .tip {
    color: #1E1E1E;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 14px;
}
.popup.book-confirm button#book-confirmed-action {
    height: 32px;
    width: 148px;
}
.popup.book-confirm-result {
    width: 480px;
}
.popup.book-confirm-result .title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #227DDA;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}
.popup.book-confirm-result .description {
    padding: 0 12px;
    text-align: center;
}
.popup.book-confirm-result .action {
    margin: 24px 0;
    text-align: center;
}