@CHARSET "utf-8";

#navigation .content-width {
	max-width: 8000px;
	padding: 0px 120px;
}

.menu-shadow {
	position: relative;
}

.menu-shadow:after {
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.4);
	height: 2px;
	z-index: 2;
}

#map-container {
	position: fixed;
	top: 46px;
	left: 0;
	bottom: 0;
	width: 40%;
}

#map-container:before {
	content: '';
	position: absolute;
	height: 100%;
	right: 0;
	-webkit-box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.4);
	width: 2px;
	z-index: 2;
}

#map-container #map {
	width: 100%;
	height: 100%;
}

#right-container {
	position: fixed;
	top: 46px;
	right: 0;
	bottom: 0;
	width: 60%;
	overflow: scroll;
	background: #f8f8f8;
}

#filter-and-result-container {
	
}

/* #filter-and-result-container.stuck {
	overflow: hidden;
} */
#filter {
	background: #f1f1f1;
	padding: 25px 0px 0px 0px;
	z-index: 9999;
}

#filter-and-result-container.stuck #filter-and-control {
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 9999;
}

#filter form.form-horizontal {
	padding-bottom: 10px;
}

#filter form.form-horizontal div.options {
	padding-top: 10px;
}

#filter form.form-horizontal div.form-group {
	margin-left: 0px;
	margin-right: 0px;
}

#filter form.form-horizontal div.form-group .twitter-typeahead {
	display: inline-block;
	width: 82%;
}

#filter form.form-horizontal div.form-group #submit-location {
	padding: 4px 0px;
	width: 90px;
	float: right;
}

@media ( min-width : 768px) {
	#filter form.form-horizontal div.form-group label.control-label {
		text-align: center;
	}
}

#filter form.form-horizontal div.form-group label.control-label {
	font-size: 16px;
}

#filter form.form-horizontal div.form-group label.control-label.with-slider
	{
	padding-top: 0px;
}

#filter form.form-horizontal div.form-group div p {
	margin: 5px 0px;
}

#filter form.form-horizontal div.form-group div p.slider-tip-left {
	float: left;
}

#filter form.form-horizontal div.form-group a.ui-slider-handle {
	-webkit-border-radius: 22px;
	border-radius: 22px;
	cursor: pointer;
	box-shadow: 0px 1px 1px #c0c0c0;
}

#filter form.form-horizontal div.form-group a.ui-slider-handle:focus {
	outline: none !important;
}

#filter form.form-horizontal div.form-group .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content
	{
	background: #d2d2d2;
}

#filter form.form-horizontal div.form-group a.ui-slider-handle.ui-state-hover,#filter form.form-horizontal div.form-group a.ui-slider-handle.ui-state-focus
	{
	border: 1px solid #cccccc;
	background: #f6f6f6
		url(../lib/jquery-ui/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png)
		50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}

#filter form.form-horizontal div.form-group .ui-slider-range.ui-widget-header
	{
	background: #227dda;
}

#filter form.form-horizontal div.form-group .form-control[readonly] {
	cursor: default;
	background-color: #ffffff;
}

.dropdown-icon {
	background: url('../images/dropdown.png') 0px 0px no-repeat;
	display: block;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -3.5px;
	width: 10px;
	height: 7px;
}

#filter form.form-horizontal div.form-group .select-item {
	position: relative;
	width: 172px;
}
#filter form.form-horizontal div.form-group .select-item.middle {
	margin-left: auto;
	margin-right: auto;
}

#filter form.form-horizontal div.form-group a {
	text-decoration: none;
}

#filter form.form-horizontal div.form-group ul.dropdown-menu {
	left: 0px;
	right: 0px;
}

#filter form.form-horizontal div.form-group ul.dropdown-menu#area-dropdown-menu
	{
	max-height: 258px;
	overflow-y: scroll;
}

#filter form.form-horizontal p.slider-tip-right {
	float: right;
}

#right-container #filter-and-control-holder {
	display: none;
}

#right-container.stuck #filter-and-control-holder {
	display: block;
}

#right-container.stuck #control-container {
	position: fixed;
	top: 46px;
	right: 0px;
	width: 60%;
}

#control-container {
	padding: 20px 50px;
	z-index: 9999;
	background: #f8f8f8;
}

#control-container button {
	position: relative;
}

#control-container button#price-order {
	width: 135px;
	text-align: left;
}

#control-container button span.text-fix {
	display: inline-block;
	text-indent: 20px;
}

#control-container div.dropdown {
	display: inline-block;
	margin-left: 16px;
}

#control-container div.result-count {
	float: right;
	line-height: 34px;
}

#control-container .house-item {
	display: none;
}

#filter-and-result-container #result-container {
	padding: 0px 50px;
	z-index: 0;
}

/* #filter-and-result-container.stuck #result-container {
	position: absolute;
	top: 84px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
} */
.carousel-inner>.item>img,.carousel-inner>.item>a>img {
	width: 100%;
}

.house-item-in-map {
	width: 254px;
	height: 204px;
	border: 0px;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12
	{
	padding-right: 0px;
	padding-left: 20px;
}

.form-group label {
	font-weight: normal;
}

#filter-and-control.stuck-all {
	position: fixed;
	top: 46px;
	z-index: 9999;
}

#result-container .bottom {
	text-align: center;
	padding: 6px;
}

#result-container .bottom img {
	width: 36px;
	height: 36px;
}

