@CHARSET "utf-8";

table.traffic {
	float: right;
	font-size: 14px;
	color: #505050;
	line-height: 25px;
}

table.traffic tr {
	height: 25px;
}
table.traffic tr.hilight {
	background: #f4f5f9;
	
}

table.traffic tr td {
	width: 136px;
	position: relative;
}

table.traffic tr td span.icon-bus {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 25px;
	background: url("../images/icon-bus.png");
	top: 50%;
	margin-top: -12.5px;
}

table.traffic tr td span.icon-texi {
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 21px;
	top: 50%;
	margin-top: -11.5px;
	background: url("../images/icon-texi.png");
}

table.traffic tr td span.time-cost {
	display: inline-block;
	text-indent: 35px;
}