@CHARSET "utf-8";

.about p,.about div {
	max-width: 720px;
}

.about .title {
	font-size: 32px;
	line-height: 37px;
	color: #227dda;
}

.about ul.about-titles {
	margin: 32px 0px;
	padding: 0px;
	list-style: none;
}

.about ul.about-titles li {
	padding: 0px 20px;
	display: inline-block;
	font-size: 18px;
	border-left: 1px solid #d5d5d5;
}

.about ul.about-titles li.first {
	border-left: 0px solid #d5d5d5;
	padding-left: 0px;
}

.about ul.about-titles li a {
	color: #6e6e6e;
	text-decoration: none;
}

.about ul.about-titles li a:HOVER,.about ul.about-titles li.hilight a {
	color: #1e1e1e;
}

.about p {
	color: #6e6e6e;
	font-size: 14px;
	line-height: 22px;
	margin: 0px 0px 24px 0px;
}

#commitment ul {
	margin: 0px;
	list-style: none;
	padding: 0px;
}

#commitment ul li {
	padding: 24px 0px;
	border-bottom: 1px solid #d5d5d5;
}

#commitment ul li div.icon-container {
	width: 156px;
	text-align: center;
}

#commitment ul li div.icon-container .icon-about {
	width: 133px;
	height: 84px;
	margin: 0px auto;
}

#commitment ul li div.icon-container .icon-about-1 {
	background: url("../../images/icons-about.png") 0px 0px;
}

#commitment ul li div.icon-container .icon-about-2 {
	background: url("../../images/icons-about.png") 0px -105px;
}

#commitment ul li div.icon-container .icon-about-3 {
	background: url("../../images/icons-about.png") 0px -224px;
}

#commitment ul li div.icon-container .icon-about-4 {
	background: url("../../images/icons-about.png") 0px -356px;
}

#commitment ul li div.icon-container .icon-about-5 {
	background: url("../../images/icons-about.png") 0px -455px;
}

#commitment ul li div.icon-container .icon-about-6 {
	background: url("../../images/icons-about.png") 0px -567px;
}

#commitment ul li div.icon-container .icon-about-7 {
	background: url("../../images/icons-about.png") 0px -662px;
}

#commitment ul li div.text {
	max-width: 800px;
}

#commitment ul li div.text .title {
	font-size: 14px;
	color: #1e1e1e;
}

#commitment ul li div.text .content {
	font-size: 14px;
	color: #6e6e6e;
	line-height: 22px;
}

#founder ul li {
	margin-bottom: 42px;
}

#founder ul li div.text {
	max-width: 800px;
	margin-left: 20px;
}

#founder ul li div.text .name {
	font-size: 15px;
	color: #1e1e1e;
	font-weight: bold;
}

#founder ul li div.text .title {
	font-size: 14px;
	color: #1e1e1e;
	line-height: 22px;
	font-weight: normal;
}

#founder ul li div.text p {
	margin-top: 8px;
}