@CHARSET "utf-8";

.contact .title {
	font-size: 32px;
	line-height: 37px;
	color: #227dda;
}

.contact ul li {
	border-bottom: 1px solid #d5d5d5;
	padding: 20px 0px;
}

.contact ul li .subtitle {
	font-size: 18px;
	color: #1e1e1e;
	margin: 22px 0px;
}
.contact ul li p {
	color: #6e6e6e;
	margin: 0px;
}