@CHARSET "utf-8";
.terms p,.terms div {
	max-width: 720px;
}
.terms .title {
	font-size: 32px;
	line-height: 37px;
	color: #227dda;
}

.terms .subtitle{
	font-size: 18px;
	margin: 28px 0px 18px 0px;
	color: #1e1e1e;
}
.terms .content{
	font-size: 14px;
	color: #6e6e6e;
}