@CHARSET "UTF-8";
#account-form-container form .form-item input {
	width: 218px;
}
#account-form-container form .form-item button#change-password {
	width: 108px;
	margin-left: 10px;
}


#footer {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
}