@CHARSET "UTF-8";

form .form-item input#real-name,form .form-item input#phone-number,form .form-item input#year
	{
	width: 136px;
}

form .form-item input#title {
	width: 70px;
}

form .form-item input#email {
	width: 220px;
}

form .form-item input#month,form .form-item input#day {
	width: 68px;
	margin-left: 0px;
}

form .form-item ul.dropdown-menu#title-dropdown-menu {
	left: 10px;
	min-width: 70px;
}

form .form-item ul.dropdown-menu#year-dropdown-menu {
	left: 10px;
	min-width: 139px;
}

form .form-item ul.dropdown-menu#month-dropdown-menu {
	min-width: 68px;
}

form .form-item ul.dropdown-menu#day-dropdown-menu {
	min-width: 68px;
	max-height: 240px;
	overflow: scroll;
}

form .form-item span#head-preview-container {
	display: inline-block;
	width: 50px;
	height: 50px;
	overflow: hidden;
}
form .form-item span#head-preview-container img{
	width: 50px;
	height: 50px;
	border: 1px solid #c0c0c0;
}

form .form-item.text {
	margin: 32px 0px 10px 0px !important;
}

form .form-item button#save {
	width: 108px;
	margin-left: 10px;
}

form .form-item span.new-head-text {
	display: inline-block;
	width: 225px;
	text-align: center;
	margin-left: 10px;
}

form .form-item div.head-big-container {
	display: inline-block;
	width: 225px;
	margin-left: 10px;
}

form .form-item div.head-big-container .head-big-wapper {
	width: 225px;
	height: 225px;
	line-height: 225px;
	text-align: center;
}

form .form-item div.head-big-container .head-big-wapper img {
	max-width: 225px;
	max-height: 225px;
	vertical-align: middle;
	border: 1px solid #c0c0c0;
}

form .form-item div.head-big-container .head-big-wapper .jcrop-holder {
	margin: 0px auto;
}

form .form-item div.head-big-container .input-button-container {
	display: inline-block;
	position: relative;
	width: 108px;
	margin-top: 18px;
	width: 108px;
}

form .form-item div.head-big-container .input-button-container input#input-file
	{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
}

form .form-item div.head-big-container .input-button-container button {
	width: 108px;
}

form .form-item div.head-big-container button#save-file {
	width: 108px;
	margin-top: 18px;
}