@CHARSET "UTF-8";

#booked-edit.popup {
	width: 516px;
	background-color: #ffffff;
}

#booked-edit.popup .ui-widget {
	font-family: 'Helvetica LT Std';
}

#booked-edit.popup .book-title {
	position: relative;
	line-height: 22px;
	height: 22px;
	font-size: 16px;
	vertical-align: middle;
	padding: 0px 24px;
	color: #313131;
}

#booked-edit.popup .book-title img {
	position: absolute;
	top: 50%;
	margin-top: -11px;
}

#booked-edit.popup .book-title span {
	line-height: 22px;
	display: inline-block;
	height: 22px;
	text-indent: 28px;
	font-weight: bolder;
}

#booked-edit.popup .calendar-container {
	margin-top: 12px;
	background-color: #ffffff;
}

#booked-edit.popup .calendar-container .pull-left {
	width: 280px;
}

#booked-edit.popup .calendar-container .datepicker {
	padding: 0px 24px;
}

.ui-datepicker {
	width: 235px;
	padding: 0px;
}

.ui-datepicker .ui-datepicker-prev .ui-icon {
	background: url("../../images/icon-calendar-prev.png") center no-repeat;
}

.ui-datepicker .ui-datepicker-next .ui-icon {
	background: url("../../images/icon-calendar-next.png") center no-repeat;
}

.ui-datepicker-calendar th {
	color: #6e6e6e;
}

#booked-edit.popup .ui-widget-content {
	border: 0px solid #dddddd;
	background: #ffffff;
}

.ui-datepicker table {
	font-size: 14px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.ui-datepicker td a, .ui-datepicker td span {
	width: 30px;
	padding: 6px;
	vertical-align: middle;
	text-align: center;
}

.ui-datepicker td span {
	text-align: center;
}

#booked-edit.popup .ui-widget-header {
	border: 0px solid #e78f08;
	background: #ffffff;
	color: #000000;
	font-weight: bold;
}

#booked-edit.popup .ui-state-default,#booked-edit.popup .ui-widget-content .ui-state-default
	{
	border: 0px solid #cccccc;
	background: #e2e2e2;
	font-weight: bold;
	color: #898989;
}

.ui-datepicker-other-month .ui-state-default {
	color: #6e6e6e;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled
	{
	opacity: 1.0;
	filter: Alpha(Opacity = 100);
	background: #ffffff;
}

.ui-datepicker-unselectable .ui-state-default,.ui-state-disabled .ui-state-default
	{
	background: #ffffff;
}

.available-days .ui-state-default {
	background: #febf00 !important;
	color: #ffffff !important;
}
.available-days.selected-days .ui-state-default {
	background: #d9a301 !important;
}

.available-days .ui-state-default:hover {
	opacity: .45;
	filter: Alpha(Opacity = 45);
}

.booked-days .ui-state-default {
	background: #f7270b !important;
	color: #ffffff !important;
}

.booked-days.selected-days .ui-state-default {
	background: #c61a03 !important;
}

.booked-days .ui-state-default:hover {
	opacity: .45;
	filter: Alpha(Opacity = 45);
}

.tobe-available-days .ui-state-default {
	background: #9edfff;
	color: #ffffff;
}

#booked-edit.popup .legend {
	position: relative;
	text-align: center;
	margin: 10px 0px 10px 20px;
	font-size: 12px;
	line-height: 12px;
	color: #6e6e6e;
}

#booked-edit.popup .legend .legend-booked {
	position: absolute;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #f7270b;
	top: 50%;
	margin-top: -6px;
}

#booked-edit.popup .legend .legend-available {
	position: absolute;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #febf00;
	top: 50%;
	margin-top: -6px;
}

#booked-edit.popup .legend .text {
	display: inline-block;
	margin-left: 15px;
}

#booked-edit.popup .error {
	font-family: SimSun;
	color: #ff0101;
	text-align: center;
	font-size: 12px;
	margin-bottom: 8px;
}

#booked-edit.popup .select-time {
	margin: 64px 10px 0px 0px;
	width: 200px;
}

#booked-edit.popup .select-time.visable {
	display: block;
}

.clear {
	clear: both;
}

#booked-edit.popup .select-time .time-item {
	font-family: Verdana;
	vertical-align: middle;
	cursor: pointer;
	height: 35px;
	padding: 5px 10px;
	box-sizing: inherit;
	color: #1e1e1e;
	font-weight: bold;
}

#booked-edit.popup .select-time .time-item.selected {
	/*
	当选中一个可选时段后，右侧开关被点亮，但同时这个时间条被固定上了深灰色底色条。
能否改成仅开关变亮，深灰色底色条还是跟着鼠标跑，不做固定处理。
	 background-color: #959595; */
	
}

#booked-edit.popup .select-time .time-item.disabled {
	color: #959595;
	cursor: pointer;
}

#booked-edit.popup .select-time .time-item:hover {
	background-color: #959595;
	color: #ffffff !important;
}

#booked-edit.popup .select-time .time-item div.time {
	float: right;
	margin-right: 25px;
	font-size: 14px;
}

#booked-edit.popup .select-time .time-item .checkbox {
	float: left;
}

#booked-edit.popup .select-time .time-item .checkbox {
	width: 38px;
	padding-left: 0px;
	margin-top: 3px;
	margin-bottom: 0px;
}

#booked-edit.popup .select-time .time-item .checkbox .checkbox-bg {
	width: 38px;
	height: 16px;
	overflow: hidden;
}

#booked-edit.popup .select-time .time-item .checkbox .checkbox-bg .checked-bg
	{
	background-image: url("../../images/checkbox-checked.png");
	float: left;
	width: 38px;
	height: 16px;
}

#booked-edit.popup .select-time .time-item .checkbox .checkbox-bg .unchecked-bg
	{
	background-image: url("../../images/checkbox-unchecked.png");
	float: left;
	width: 38px;
	height: 16px;
}

#booked-edit.popup .select-time .time-item .checkbox .blockContainer {
	position: relative;
	margin-top: -15px;
}

#booked-edit.popup .select-time .time-item .checkbox .blockContainer.left
	{
	margin-left: 2px;
}

#booked-edit.popup .select-time .time-item .checkbox .blockContainer.right
	{
	margin-left: 20px;
}

#booked-edit.popup .select-time .time-item .checkbox .blockContainer .block
	{
	background-image: url("../../images/checkbox-block.png");
	width: 17px;
	height: 14px;
}

#booked-edit.popup .spllite {
	height: 1px;
	background-color: #bebebe;
}

#booked-edit.popup .options {
	text-align: center;
	margin: 24px 0px;
}

#booked-edit.popup .options button {
	width: 108px;
	display: inline-block;
	margin: 0px 10px;
}

#message {
	display: none;
}

.popup.book-confirm {
	width: 558px;
	margin-top: 32px;
}

.popup.book-confirm form {
	padding: 0px 0px 14px 0px;
	font-family: Arial, "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei",
		'华文细黑', STHeiti, MingLiu '宋体';
}

.popup.book-confirm form .step {
	padding: 18px 8px 12px 32px;
}

.popup.book-confirm form .step .description {
	font-size: 12px;
	margin-top: 12px;
	padding-right: 12px;
	color: #1e1e1e;
}

.popup.book-confirm form .step .text {
	padding: 0px 12px;
	color: #1e1e1e;
	font-size: 14px;
	width: 160px;
}

.popup.book-confirm form .step .text.right {
	width: 170px;
	padding: 0px;
}

.popup.book-confirm form .step .error {
	color: #ff0101;
}

}
.popup.book-confirm form .step .text.right {
	border-left: 1px solid #cccccc;
	width: 170px;
	padding-right: 0px;
}

.popup.book-confirm form .step .text .head {
	font-weight: bolder;
}

.popup.book-confirm form .step .text .content {
	margin-top: 4px;
}

.popup.book-confirm .form-group label {
	width: 56px;
	color: #1e1e1e;
	text-align: right;
	font-weight: normal;
	text-align: right;
}

.popup.book-confirm .checkbox label {
	width: 100%;
}

.popup.book-confirm .checkbox input[type="checkbox"] {
	display: inline-block;
	margin-left: 0px;
	margin-right: 8px;
}

.popup.book-confirm .form-group input {
	width: 138px;
	height: 28px;
	margin: 0px 15px;
	display: inline-block;
}

.popup.book-confirm .tip {
	font-size: 12px;
	color: #1e1e1e;
	margin-bottom: 0px;
	margin-top: 14px;
}

.popup.book-confirm button#book-confirmed-action {
	width: 148px;
	height: 32px;
}

.popup.book-confirm-result {
	width: 480px;
}

.popup.book-confirm-result .title {
	background: none;
	border: none;
	color: #227dda;
	text-align: center;
	font-size: 18px;
	padding: 20px;
}

.popup.book-confirm-result .description {
	padding: 0px 12px;
	text-align: center;
}

.popup.book-confirm-result .action {
	text-align: center;
	margin: 24px 0px;
}

.popup#booked-cannot-edit-alert {
	width: 332px;
	padding: 36px;
	background: #ffffff;
	border-radius: 6px;
	color: #1e1e1e;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}