@CHARSET "UTF-8";

.booked-list .booked-item .pull-right {
	width: 219px;
}

.booked-list .booked-item .delete-container {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -12px;
}

.delete-all {
	margin: 12px 0px;
	text-align: right;
}