@CHARSET "UTF-8";

#tab-available .order-by-container {
	position: relative;
	width: 168px;
	height: 25px;
	margin:
}

#tab-available .order-by-container a:HOVER,#tab-available .order-by-container a:FOCUS
	{
	text-decoration: none;
}

#tab-available .order-by-container {
	margin: 12px 0px 24px 0px;
}

#tab-available .order-by-container a input {
	height: 25px;
	font-size: 14px;
}

#tab-available .order-by-container .dropdown-menu {
	left: 0px;
}

#tab-unavailable .filter {
	position: relative;
	text-align: right;
}

