@CHARSET "UTF-8";

#account-form-container .description {
	color: #6e6e6e;
	font-size: 14px;
	line-height: 24px;
	margin: 12px 0px;
}

ul.subscription-list {
	margin: 0px 0px 12px 0px;
	padding: 0px;
}

ul.subscription-list li.subscription-item {
	border: 1px solid #cdcdcd;
	list-style: none;
	margin-top: 12px;
}

ul.subscription-list li.subscription-item.template {
	display: none;
}

.brief {
	background: #f2f2f2;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
}

.brief .name {
	display: inline-block;
	color: #1e1e1e;
	font-size: 14px;
	font-weight: bolder;
	margin: 0px 14px;
	overflow: hidden;
}

.brief .values {
	display: inline-block;
	color: #6e6e6e;
	font-size: 12px;
	overflow: hidden;
	width: 484px;
	height: 34px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.brief .top-actions {
	display: inline-block;
	margin-right: 12px;
}

.brief .action {
	display: inline-block;
	margin: 0px 6px;
}

.form {
	border-top: 1px solid #cdcdcd;
	padding: 10px 0px;
	display: none;
}

.popup.add-subscription .form {
	padding: 10px 24px;
}

.popup.add-subscription .form .actions {
	margin: 24px;
}

.form .form-row {
	margin: 12px 0px;
}

.form .form-row.slider-row {
	margin: 6px 0px;
}

.form .form-row.slider-row.first {
	margin: 24px 0px 6px 0px;
}

.form .form-row .form-item {
	display: inline-block;
	position: relative;
}

.form .form-row .form-item span.item-label {
	display: inline-block;
	text-align: right;
	color: #1e1e1e;
	font-size: 14px;
	line-height: 14px;
	width: 122px;
	margin-right: 14px;
}

.popup.add-subscription .form .form-row .form-item span.item-label {
	width: 60px;
}

.form .form-row.slider-row .form-item span.item-label {
	vertical-align: top;
}

.form .form-row .form-item input[type='text'] {
	display: inline-block;
	width: 138px;
	height: 30px;
}

.form .form-row .form-item input[readonly='readonly'] {
	background: #ffffff;
	cursor: auto;
}

.form .form-row .form-item input[disabled] {
	cursor: not-allowed;
	background-color: #eeeeee;
}

.form .form-row .form-item ul.dropdown-menu {
	left: 136px;
	min-width: 138px;
}

.popup.add-subscription .form .form-row .form-item ul.dropdown-menu {
	left: 74px;
}

.form .form-row .form-item .slider-container {
	width: 464px;
	display: inline-block;
}

.form .form-row .form-item label.only-one-for-house-owner-label {
	margin-left: 36px;
}

.form .actions {
	text-align: center;
	margin: 24px 0px 36px 0px;
}

.form .actions button {
	display: inline-block;
	margin: 0px 12px;
	width: 108px;
}