@CHARSET "utf-8";

#quick-nav {
	background: #227dda;
	height: 38px;
}

#quick-nav ul.sf-menu {
	margin-bottom: 0em;
}

#quick-nav ul.sf-menu>li {
	background: url("../images/block-menu-bg.png");
	width: 126px;
}

#quick-nav ul.sf-menu>li a {
	border: 0px;
	color: #ffffff;
}

#quick-nav ul.sf-menu>li.sfHover {
	background: #ffffff;
	border-top: 1px solid #227dda;
	border-left: 1px solid #227dda;
	border-right: 1px solid #227dda;
}

#quick-nav ul.sf-menu>li.sfHover>a {
	color: #227dda;
}

#quick-nav ul.sf-menu>li.sfHover ul a {
	color: #505050;
}

#quick-nav ul.sf-menu a {
	padding: 0px 2.5em 0px 22px;
	letter-spacing: 5px;
	line-height: 37px;
}

ul.sf-arrows>li>a.sf-with-ul:after {
	border-top-color: #ffffff !important;
	right: 20px !important;
}

li.sf-arrows.sfHover ul.sf-arrows .sf-with-ul:after {
	border-top-color: #227dda !important;
}

ul.sf-arrows li ul li a.sf-with-ul:after {
	border-left-color: #505050 !important;
}

ul.sf-arrows li ul li:HOVER a.sf-with-ul:after {
	border-left-color: #ffffff !important;
}

.sf-arrows>li>.sf-with-ul:focus:after,.sf-arrows>li:hover>.sf-with-ul:after,.sf-arrows>.sfHover>.sf-with-ul:after
	{
	border-top-color: #227dda !important;
}

#quick-nav ul.sf-menu ul {
	min-width: 92px;
	border-left: 1px solid #227dda;
	border-right: 1px solid #227dda;
	border-bottom: 1px solid #227dda;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .0);
}

#quick-nav ul.sf-menu ul li {
	background: #ffffff;
	width: 124px;
}

#quick-nav ul.sf-menu ul li:HOVER {
	background: #227dda;
}

#quick-nav ul.sf-menu>li>ul>li:HOVER>a {
	color: #ffffff;
}

#quick-nav ul.sf-menu>li>ul {
	left: -1px;
}

#quick-nav ul.sf-menu>li>ul>li>ul {
	border-top: 1px solid #227dda;
	width: 172px;
	background: #ffffff;
	top:-1px;
}

#quick-nav ul.sf-menu>li>ul>li>ul>li {
	float: left;
	width: 85px;
}

#quick-nav ul.sf-menu>li>ul>li>ul>li>a {
	letter-spacing: 0px;
}

#quick-nav ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li>a {
	letter-spacing: 0px;
}

#quick-nav ul.sf-menu>li.sfHover>ul>li.sfHover>ul>li:HOVER {
	/* list-style-image: url("../images/icon-search.png"); */
}

#quick-nav ul.sf-menu>li>ul>li>ul>li:HOVER>a {
	color: #ffffff;
}

#quick-nav .quick-nav-shadow {
	position: relative;
}

#quick-nav .quick-nav-shadow:AFTER {
	content: '';
	position: absolute;
	width: 100%;
	height: 9px;
	background:url("../images/quick-nav-shadow.png") repeat-x;
	z-index: 2;
}