@CHARSET "utf-8";

@font-face {
	font-family: 'Script MT Bold';
	src: url('script_mt_bold/script_mt_bold.eot');
	src: url('script_mt_bold/script_mt_bold.eot?#iefix')
		format('embedded-opentype'),
		url('script_mt_bold/script_mt_bold.svg#Script MT Bold') format('svg'),
		url('script_mt_bold/script_mt_bold.woff') format('woff'),
		url('script_mt_bold/script_mt_bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#top-image-container {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#top-image-container .city-description-container {
	position: absolute;
	width: 760px;
	left: 50%;
	margin-left: -380px;
	top: 100px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30);
}

#top-image-container .city-description-container .city-name {
	font-size: 72px;
	line-height: 72px;
}

#top-image-container .city-description-container .city-spell {
	font-size: 48px;
	line-height: 48px;
	margin-top: 12px;
	font-family: 'Script MT Bold', 'Comic Sans', sans-serif;
}

#top-image-container .city-description-container .description {
	font-size: 24px;
	margin-top: 24px;
	line-height: 42px;
}

.all-block-title {
	margin-top: 35px;
	margin-bottom: 16px;
	font-size: 28px;
	line-height: 28px;
	color: #393c3d;
}

dl {
	font-size: 16px;
}

dl dt {
	line-height: 40px;
	position: absolute;
	color: #505050;
}

dl dd {
	padding: 0px 0px 0px 76px;
}

dl dd ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

dl dd ul li {
	margin: 0px 22px 0px 0px;
	padding: 0px;
	float: left;
	white-space: nowrap;
}

dl dd ul li a {
	line-height: 40px;
	white-space: nowrap;
	color: #227dda;
}

#footer{
	margin-top: 130px;
}