@CHARSET "utf-8";

.sticky-container.stuck {
	position: fixed;
	top: 0px;
	z-index: 10;
	left: 0px;
	right: 0px;
	background: #ffffff;
}

#quick-nav #quick-actions {
	float: right;
}

#quick-nav #quick-actions>ul {
	list-style-type: none;
	display: block;
	padding: 0px;
	margin: 0px;
}

#quick-nav #quick-actions>ul>li {
	display: inline-block;
	float: left;
}

#quick-nav #quick-actions>ul>li>a {
	display: inline-block;
	line-height: 38px;
	padding: 0px 16px;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
}

#quick-nav #quick-actions>ul>li>a:HOVER,#quick-nav #quick-actions>ul>li>a.current
	{
	background: #65a4e5;
}

#top-image-container {
	width: 100%;
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

#top-image-container img {
	width: 100%;
	height: auto;
}

#top-image-container .block-name {
	position: absolute;
	text-align: center;
	height: 72px;
	margin-top: -36px;
	letter-spacing: 24px;
	left: 0px;
	right: 0px;
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", '华文细黑',
		STHeiti, MingLiu;
	font-weight: bolder;
	font-size: 72px;
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30);
	top: 50%;
	line-height: 72px;
}

#top-image-container #button-more-houses-container {
	position: absolute;
	bottom: 48px;
	left: 0px;
	right: 0px;
	text-align: right;
}

#descriptions {
	padding-top: 35px;
	margin-bottom: 110px;
}

#descriptions .block-decription-container {
	float: left;
	width: 66.7%;
}

#descriptions .block-decription-container .content {
	padding: 0px 36px 10px 0px;
	border-right: 1px solid #e4e4e4;
}

#descriptions .block-decription-container .full-text-switcher {
	position: relative;
}

#descriptions .block-decription-container .full-text-switcher span.text
	{
	display: inline-block;
	text-indent: 20px;
	font-size: 16px;
}

#descriptions .add-decription-container {
	float: left;
	width: 33.3%;
	padding: 0px 0px 0px 36px;
}

#i-wanna-say-something-popup {
	display: none;
	background: #ffffff;
	width: 570px;
	border-radius: 3px;
	border: 1px solid rgba(234, 238, 250, 0.6);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

#i-wanna-say-something-popup .title {
	background: #ebebeb;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 12px 16px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

#i-wanna-say-something-popup form {
	padding: 18px 15px 0px 15px;
	margin-bottom: 0px;
}

#i-wanna-say-something-popup form .input-email {
	width: 353px;
	position: relative;
}

#i-wanna-say-something-popup .form-group span {
	color: #505050;
	font-size: 14px;
	line-height: 24px;
}

#i-wanna-say-something-popup div.email-error {
	display: none;
	line-height: 34px;
	color: #ff0000;
	margin-left: 12px;
	margin-bottom: 15px;
}

#i-wanna-say-something-popup div.email-blank {
	display: none;
	color: #ff0000;
	margin-bottom: 15px;
}

#i-wanna-say-something-popup .form-group button {
	width: 94px;
	display: inline-block;
	margin-left: 20px;
}

#i-wanna-say-something-popup .form-group input {
	font-size: 16px;
	display: inline-block;
}

#i-wanna-say-something-popup .form-group textarea {
}

.title {
	font-size: 24px;
	line-height: 24px;
	color: #393c3d;
	font-weight: bold;
	margin: 6px 0px 24px 0px;
}

.content p {
	line-height: 33px;
	font-size: 18px;
	color: #505050;
}

#geographic-information {
	padding-top: 24px;
}

#geographic-information .text {
	width: 66.7%;
}

#geographic-information #map {
	height: 380px;
	border: 1px solid #9d9d9d;
}

#geographic-information #traffic {
	padding: 30px 0px 45px 0px;
}

#geographic-information #traffic .metro {
	float: left;
}

#geographic-information #traffic .metro .title {
	font-size: 20px;
	color: #393c3d;
}

#geographic-information #traffic .metro ul {
	margin: 30px 0px 0px 0px;
	padding: 0px;
}

#geographic-information #traffic .metro ul li {
	float: left;
	position: relative;
	overflow: hidden;
	width: 40px;
	height: 40px;
	margin-right: 24px;
}

#geographic-information #traffic .metro ul li img {
	position: absolute;
}

#geographic-information #traffic .metro ul li.icon-metro-1 img {
	top: -4px;
	left: -4px;
}

#geographic-information #traffic .metro ul li.icon-metro-5 img {
	top: -4px;
	left: -196px;
}

#geographic-information #traffic .metro ul li.icon-metro-12 img {
	top: -4px;
	left: -536px;
}

#geographic-information #traffic .metro ul li.icon-metro-in-construction img
	{
	top: -52px;
}

#geographic-information #traffic table {
	float: right;
	font-size: 18px;
	color: #505050;
	line-height: 32px;
}

#geographic-information #traffic table tr {
	height: 32px;
}

#geographic-information #traffic table tr td {
	width: 136px;
	position: relative;
}

#geographic-information #traffic table tr td span.icon-bus {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 25px;
	background: url("../images/icon-bus.png");
	top: 50%;
	margin-top: -12.5px;
}

#geographic-information #traffic table tr td span.icon-texi {
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 21px;
	top: 50%;
	margin-top: -11.5px;
	background: url("../images/icon-texi.png");
}

#geographic-information #traffic table tr td span.time-cost {
	display: inline-block;
	text-indent: 35px;
}

#block-images {
	background: #f1f1f1;
	position: relative;
	padding: 35px 0px 0px 0px;
}

#block-images:BEFORE {
	content: '';
	position: absolute;
	width: 100%;
	top: 0;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.4);
	height: 1px;
}

#block-images:AFTER {
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.4);
	height: 1px;
}

#block-images .section {
	padding: 0px 0px 40px 0px;
}

#block-images p {
	font-size: 18px;
	color: #505050;
	margin: 0px;
	line-height: 32px;
}

#block-images img {
	margin-top: 20px;
}

#houses-suggestion {
	padding: 25px 0px 0px 0px;
}

#houses-suggestion .house-item {
	width: 480px;
	height: 346px;
	margin: 0px;
}

#houses-suggestion .house-item.float-left {
	float: left;
}

#houses-suggestion .house-item.float-right {
	float: right;
}

#houses-suggestion .house-item table {
	margin-top: 12px;
}

#houses-suggestion #button-more-houses {
	margin: 30px 0px 50px 0px;
}