@CHARSET "utf-8";

body {
	margin: 0px;
	padding: 0px;
	background: #f8f8f8;
	font-size: 14px;
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", '华文细黑',
		STHeiti, MingLiu '宋体';
}

a {
	color: #227dda;
}

textarea {
	resize: none;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

.popup-tip {
	padding: 24px 48px;
	font-size: 16px;
	line-height: 36px;
	color: #555555;
	text-align: center;
}

.popup.alert {
	padding: 24px 48px;
	font-size: 16px;
	line-height: 36px;
	color: #1e1e1e;
	text-align: center;
}

.popup.confirm {
	padding: 24px 48px;
	font-size: 16px;
	line-height: 36px;
	color: #1e1e1e;
	text-align: center;
}

.popup.confirm .actions button {
	width: 68px;
	margin: 12px 12px 0px 12px;
}

a[data-toggle='dropdown'] input[disabled] {
	cursor: pointer;
	background: #ffffff;
}

.ui-widget button {
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", '华文细黑',
		STHeiti, MingLiu '宋体';
	font-size: 14px;
}

.btn-primary {
	background-color: #227dda;
	color: #ffffff;
}

.btn-primary:HOVER {
	/* background-color: #ffffff;
	color: #227dda;
	border-color: #227dda; */
	
}

.form-control[readonly]:focus {
	border-color: #cccccc;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-orange {
	background-color: #ff9933;
	color: #ffffff;
}

.btn-orange:HOVER {
	background-color: #f29130;
	color: #ffffff;
}

.btn-gray-orange {
	background-color: #c2c2c2;
	color: #ffffff;
}

.btn-gray-orange:HOVER {
	background-color: #f29130;
	color: #ffffff;
}

.btn-with-left-icon {
	text-indent: 1em;
}

.btn-light {
	background-color: #ffffff;
	color: #227dda;
	border: 1px solid #227dda;
	position: relative;
}

.btn-light:HOVER {
	background-color: #227dda;
	color: #ffffff;
}

.btn-gray {
	background-color: #c2c2c2;
	color: #ffffff;
	border: 1px solid #c2c2c2;
	position: relative;
}

.btn-gray:HOVER {
	background-color: #e0e0e0;
	color: #ffffff;
	border: 1px solid #e0e0e0;
}

.btn-light span.icon-plus {
	position: absolute;
	top: 50%;
	left: 7px;
	margin-top: -7px;
	width: 14px;
	height: 14px;
	background: url("../images/icon-plus-blue.png");
}

.btn-light:HOVER span.icon-plus {
	background: url("../images/icon-plus-white.png");
}

.has-error .form-control {
	border-color: #ff0000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
	border-color: #ff0000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#dd0000;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dd0000;
}

#navigation {
	height: 46px;
	background: #ffffff;
}

@media ( max-width : 1199px) {
}

@media ( min-width : 1200px) {
}

.content-width {
	max-width: 1000px;
	min-width: 640px;
	margin: 0px auto;
}

.content-width-static {
	width: 1000px;
	margin: 0px auto;
}

#navigation #logo {
	float: left;
	margin-top: 9px;
}

#navigation #actions {
	float: right;
}

#navigation #actions span.button {
	margin-top: 8px;
	display: inline-block;
}

#navigation #actions>ul>li>a {
	line-height: 46px;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	position: relative;
}

#navigation #actions>ul>li>a:HOVER {
	color: #428bca;
}

#navigation #actions>ul {
	list-style-type: none;
	display: block;
	padding: 0px;
	margin: 0px;
}

#navigation #actions>ul>li {
	display: inline-block;
	float: left;
	font-size: 1.1em;
	padding: 0px 8px;
}

ul.dropdown-menu>li>a {
	padding: 4px 11px;
}

ul.dropdown-menu>li>a:HOVER {
	color: #ffffff !important;
	background-color: #227dda;
}

#navigation #actions>ul>li>ul>li>a {
	position: relative;
}

#navigation #actions>ul>li>ul>li>a>span.bubble-number {
	display: inline-block;
	background: #ff0000;
	position: absolute;
	right: 12px;
	min-width: 16px;
	font-size: 12px;
	height: 16px;
	line-height: 10px;
	top: 50%;
	margin-top: -8px;
	padding: 4px 4px;
	border-radius: 8px;
	text-align: center;
	color: #ffffff;
}

.dropdown-icon,.icon-dropdown {
	background: url('../images/dropdown.png') 0px 0px no-repeat;
	display: block;
	cursor: pointer;
	position: absolute;
	right: 13px;
	top: 50%;
	margin-top: -4px;
	width: 10px;
	height: 7px;
}

.icon-show,.icon-hide {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	width: 13px;
	height: 14px;
}

.icon-show {
	background: url('../images/icon-show.png') 0px 0px no-repeat;
}

.icon-hide {
	background: url('../images/icon-hide.png') 0px 0px no-repeat;
}

.icon-less-more-toggle-blue {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 16px;
	top: 50%;
	margin-top: -8px;
}

.icon-less-more-toggle-blue-more {
	background: url('../images/icon-hide-show-toggle-blue.png') 0px 0px
		no-repeat;
}

.icon-less-more-toggle-blue-less {
	background: url('../images/icon-hide-show-toggle-blue.png') 0px -19px
		no-repeat;
}

.icon-email {
	display: inline-block;
	position: absolute;
	width: 24px;
	right: 10px;
	height: 22px;
	background: url('../images/icon-email.jpg') 0px 0px no-repeat;
	top: 50%;
	margin-top: -11px;
}

.icon-password {
	display: inline-block;
	position: absolute;
	width: 16px;
	right: 14px;
	height: 21px;
	background: url('../images/icon-password.jpg') 0px 0px no-repeat;
	top: 50%;
	margin-top: -11px;
}

.icon-info {
	display: inline-block;
	position: absolute;
	width: 27px;
	height: 27px;
	left: 0px;
	left: 18px;
	background: url('../images/icon-info.png') 0px 0px no-repeat;
	top: 50%;
	margin-top: -14px;
}

.icon-close {
	display: inline-block;
	position: absolute;
	width: 22px;
	height: 21px;
	background: url('../images/icon-close.png') 0px 0px no-repeat;
	top: 50%;
	margin-top: -12px;
}

.icon-input-file {
	display: inline-block;
	position: absolute;
	width: 36px;
	height: 35px;
	background: url('../images/icon-input-file.jpg') 0px 0px no-repeat;
	top: 50%;
	left: 50%;
	margin-left: -18px;
	margin-top: -18px;
}

.icon-unread-flag {
	width: 10px;
	height: 10px;
	background: url("../images/icon-unread-flag.png");
	position: absolute;
	top: -7px;
	left: 16px;
}

.btn-white-blue {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.icon-up-down {
	position: absolute;
	width: 10px;
	height: 7px;
	top: 50%;
	margin-top: -4px;
	background: url("../images/icon-up-down.png");
}

.icon-up-down.icon-up-down-up {
	background: url("../images/icon-up-down.png") 0px 0px no-repeat;
}

.icon-up-down.icon-up-down-down {
	background: url("../images/icon-up-down.png") 0px -8px no-repeat;
}

.icon-plus-blue {
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -7px;
	width: 14px;
	height: 14px;
	background: url("../images/icon-plus-blue.png");
}

.icon-delete {
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url("../images/icon_trash_can_normal.png");
}

.icon-delete.hover {
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url("../images/icon_trash_can_hover.png");
}

input:FOCUS,button:FOCUS,a:FOCUS {
	outline: none !important;
}

.btn-white-blue:HOVER {
	color: #ffffff;
	background-color: #227dda;
	border-color: #357ebd;
}

/*鼠标移动到carousel的左右剪头上面之后不显示变黑  */
.carousel-control.left,.carousel-control.right {
	background-image: none;
}

.carousel-control {
	opacity: 0.0;
	filter: alpha(opacity = 0);
}

.carousel-control:HOVER {
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

#footer {
	background: #3276b1;
	line-height: 80px;
}

#footer #footer-navigation {
	float: left;
	width: 400px;
	position: relative;
	bottom: 0;
}

#footer #footer-navigation ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#footer #footer-navigation ul li {
	display: inline-block;
	float: left;
	font-size: 1.1em;
	margin: 0 17px 0 0;
	font-size: 1.1em;
}

#footer #footer-navigation ul li a {
	color: #ffffff;
	font-size: 14px;
}

#footer #copyright {
	float: right;
	position: relative;
	color: #ffffff;
	font-size: 12px;
}

.checkbox {
	padding-left: 0px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	padding-left: 24px;
	font-weight: normal;
	position: relative;
}

input[type="checkbox"]+label span {
	width: 17px;
	height: 17px;
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -9px;
	background: url('../images/icon-checkbox-unchecked.jpg') no-repeat;
}

input[type="checkbox"]:checked+label span {
	background: url('../images/icon-checkbox-checked.jpg') no-repeat;
}

#navigation {
	position: relative;
}

#navigation:AFTER {
	content: '';
	position: absolute;
	width: 100%;
	top: 100%;
	height: 9px;
	background: url("../images/quick-nav-shadow.png") repeat-x;
	z-index: 2;
}

ul.pagination {
	
}

ul.pagination li a {
	float: left;
	padding: 0 8px;
	margin-left: 5px;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #6e6e6e;
}

ul.pagination li.gap a,ul.pagination li.gap span,ul.pagination li.gap a:hover
	{
	padding: 0 4px;
	border: 0;
	background: transparent;
	box-shadow: 0 0 0 #000;
}

.ui-slider-horizontal {
	height: 14px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -5px;
	margin-left: -.6em;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 21px;
	height: 21px;
}