@CHARSET "utf-8";

.ui-tabs {
	margin-top: 20px;
	padding: 0px;
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", '华文细黑',
		STHeiti, MingLiu '宋体';
}

.ui-tabs.ui-widget-content {
	border: 0px;
	background: none;
}

.ui-tabs .ui-tabs-nav li {
	margin: 1px 10px 0 0;
	vertical-align: middle;
	font-size: 16px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	width: 132px;
	text-align: center;
}

.ui-tabs .ui-widget-header {
	background: none;
	border: 0px;
}

.ui-tabs .ui-tabs-nav {
	padding: 0px;
}

.ui-tabs .ui-tabs-panel {
	background: #ffffff;
	border: 0px;
}

.ui-tabs a:FOCUS {
	outline: none;
}

.ui-tabs ul li.ui-state-default {
	background: #f5f5f5;
	border: 0px;
	box-shadow: 2px 0 2px -2px #c0c0c0;
	color: #707070;
}

.ui-tabs ul li.ui-state-default.ui-state-active {
	background: #ffffff;
	border: 0px;
	color: #707070;
}

#tab-overview table {
	border: 1px #dbdbdb solid;
	width: 100%;
	font-size: 14px;
	border-collapse: separate;
	border-radius: 4px;
}

#tab-overview table tr {
	height: 40px;
}

#tab-overview table tr.head {
	height: 50px;
	font-size: 16px;
}

#tab-overview table tr.head td.title {
	position: relative;
	text-indent: 52px;
	color: #313131;
}

#tab-overview table tr.highlight {
	background: #f4f5f9;
}

#tab-overview table tr td.circles {
	width: 272px;
	border-left: 1px #dbdbdb solid;
	vertical-align: top;
	padding: 10px;
}
#tab-overview table tr td.circles dl dd{
	float: left;
	width: 83px;
	height: 91px;
	padding: 18px 9px;
	text-align: center;
}
#tab-overview table tr td.circles dl dd .number{
	font-size: 21px;
	height: 21px;
	line-height: 21px;
	margin-top:10px;
	color: #227dda;
}
#tab-overview table tr td.circles dl dd .category{
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	color: #313131;
	margin-top:4px;
	
}
#tab-overview table tr td.lable {
	text-align: center;
	width: 90px;
}

#tab-overview table tr td.value {
	color: #959595;
}

.ui-tabs-panel .introduce {
	padding: 6px 20px 32px 20px;
	color: #707070;
}

.ui-tabs-panel .introduce .title {
	font-size: 16px;
	line-height: 16px;
	padding: 24px 0px 16px 0px;
	color: #313131;
}

.ui-tabs-panel .introduce .paragraph {
	font-size: 14px;
	line-height: 24px;
}

#tab-surroundings.ui-tabs-panel {
	padding-top: 0px;
}

#tab-surroundings.ui-tabs-panel .clearfix .paragraph {
	float: left;
	width: 296px;
}

#tab-surroundings.ui-tabs-panel .clearfix table.traffic {
	float: right;
	width: 276px;
}

#tab-surroundings.ui-tabs-panel #map{
	width: 100%;
	height: 330px;
	margin-top: 16px;
}

#tab-surroundings.ui-tabs-panel .introduce{
	padding-bottom: 20px;
}

#tabs-streat-view #map-streat-view{
	height: 380px;
	overflow: hidden;
}