@CHARSET "UTF-8";

.i-want-comment-container {
	text-align: right;
}

.i-want-comment-container a {
	color: #227dda;
}

ul.comments {
	margin: 0px 0px;
	padding: 0px;
}

ul.comments li {
	margin: 0px;
	padding: 20px 0px;
	list-style: none;
}

ul.comments li.admin-comment {
	padding: 20px 20px;
	background: #f8f8f8;
}

ul.comments li.admin-comment.last {
	margin-bottom: 32px;
}

ul.comments li .pull-left {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

ul.comments li .pull-right {
	width: 50px;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}

ul.comments li .pull-right div.user-name {
	display: block;
	margin-top: 6px;
	font-size: 12px;
	color: #555555;
}

ul.comments li .comment-details-container {
	margin-top: -3px;
	margin-left: 72px;
}

ul.comments li .comment-details-container .text {
	font-size: 14px;
	line-height: 18px;
	color: #555555;
}

ul.comments li .comment-details-container .target {
	margin-top: 6px;
}

ul.comments li .comment-details-container .date {
	font-size: 12px;
	color: #959595;
	margin-top: 6px;
}

#tabs-comments textarea#comment-textarea {
	height: 156px;
	margin: 25px 0px;
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", '华文细黑',
		STHeiti, MingLiu '宋体';
}

#tabs-comments .action {
	text-align: right;
	margin-bottom: 25px;
}

#tabs-comments .action button {
	width: 118px;
}