@CHARSET "utf-8";

.house-suggestions {
	background: #f8f8f8;
	padding: 42px 0px;
}
.house-suggestions .suggestion-title{
	color: #1e1e1e;
	font-size: 16px;
	margin-bottom: 18px;
}

.house-suggestions .house-item-template {
	display: none;
}