@CHARSET "utf-8";

.carousel-inner {
	max-height: 500px;
}

/* change emulateTransitionEnd(600) to emulateTransitionEnd(3000) in Carousel.prototype.slide() */
.carousel .item {
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

.carousel .active.left,.carousel .active.right {
	left: 0 !important;;
	opacity: 0;
	z-index: 2;
}

.carousel .next {
	left: 0 !important;
	opacity: 1;
	z-index: 1;
}

.carousel-control {
	z-index: 15
}

.carousel-control.hilight {
	opacity: 1.0;
	filter: alpha(opacity = 100);
}

.carousel-control img {
	position: absolute;
	top: 50%;
	margin-top: -35px;
	display: inline-block;
}

.carousel .item  .carousel-custom-caption {
	position: absolute;
	top: 165px;
	left: 15%;
	width: 1000px;
	z-index: 10;
}

.carousel .item  .carousel-custom-caption .title {
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.50);
	line-height: 42px;
	font-size: 42px;
	font-weight: bolder;
	-webkit-font-smoothing: antialiased;
}

.carousel .item  .carousel-custom-caption .desc {
	font-size: 22px;
	margin: 8px 0px 24px;
	line-height: 22px;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

#top-container {
	position: relative;
	min-width: 1100px;
}

#top-container #search-container {
	position: absolute;
	min-width: 760px;
	top: 260px;
	z-index: 10;
	left: 15%;
}

#top-container #search-container #search-form {
	background: rgba(57, 60, 61, 0.8);
	background: #6c6c6c;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 4px;
	float: left;
}

#top-container #search-container #search-form.form-inline .input-wrapper
	{
	margin-right: 4px;
	position: relative;
	float: left;
}

#top-container #search-container #search-form input[type="text"] {
	padding: 10px 11px;
	font-size: 14px;
	color: #6e6e6e;
	/* line-height: 40px; */
	vertical-align: middle;
}

#top-container #search-container #search-form #area,#top-container #search-container #search-form #n-bedroom,#top-container #search-container #search-form #price
	{
	padding: 0px 11px;
	font-size: 14px;
	color: #6e6e6e;
	line-height: 40px;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow
		ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#top-container #search-container #search-form #location {
	width: 296px;
}

#top-container #search-container #search-form ul.search-suggestions {
	position: absolute;
	display: none;
	width: 296px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#top-container #search-container #search-form ul.search-suggestions li {
	background: #ffffff;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	color: #6e6e6e;
	padding: 0px 6px;
}

#top-container #search-container #search-form ul.search-suggestions li {
	background: #ffffff;
}

#top-container #search-container #search-form ul.search-suggestions li:HOVER
	{
	background: #c0c0c0;
}

#top-container #search-container #search-form .input-wrapper>input,#top-container #search-container #search-form .input-wrapper>a>input
	{
	height: 40px;
}

#top-container #search-container #search-form .icon-price {
	background: url('../images/icon-price.png') 0px 0px no-repeat;
	display: block;
	cursor: pointer;
	position: absolute;
	right: 13px;
	top: 50%;
	margin-top: -6.75px;
	width: 16px;
	height: 13.5px;
}

#top-container #search-container #search-form input#area {
	width: 123px;
	text-align: left;
}

#top-container #search-container #search-form #n-bedroom {
	width: 123px;
	text-align: left;
}

#top-container #search-container #search-form a#price-popover-trigger {
	text-decoration: none;
}

#top-container #search-container #search-form a#price-popover-trigger span#price
	{
	display: block;
	min-width: 122px;
	height: 41px;
	line-height: 41px;
	padding: 0px 12px;
}

#top-container #search-container #search-form ul.dropdown-menu#area-dropdown-menu
	{
	min-width: 123px;
	max-width: 123px;
	max-height: 146px;
	overflow-x: hidden;
	overflow-y: auto;
}

#top-container #search-container #search-form ul.dropdown-menu#area-dropdown-menu li a
	{
	line-height: 21px;
}

#top-container #search-container #search-form ul.dropdown-menu#n-bedroom-dropdown-menu
	{
	min-width: 120px;
}

#top-container #search-container #search-form ul.dropdown-menu>li>a {
	font-size: 14px;
}

#top-container #search-container #search-form #price-popover {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	z-index: 1000;
	min-width: 205px;
	padding: 15px;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

#top-container #search-container #search-form #price-popover input {
	width: 65px;
	height: 24px;
	padding: 2px;
	line-height: 18px;
	border-radius: 0px;
}

#top-container #search-container #search-form #submit-location.btn {
	height: 40px;
	width: 70px;
}

#how-to {
	height: 365px;
	font-family: '微软雅黑' '宋体';
}

#how-to .title {
	text-align: center;
	font-size: 34px;
	padding-top: 50px;
	padding-bottom: 20px;
}

#how-to .tab-head {
	display: inline-block;
	width: 140px;
	height: 44.5px;
	font-size: 16px;
	line-height: 44.5px;
	text-align: center;
	color: #505050;
	cursor: pointer;
	margin-bottom: 40px;
	cursor: pointer;
}

#how-to .tab-head.current {
	color: #ffffff;
	cursor: default;
}

#how-to .tab-head#tab-head-buy {
	background: url("../images/tab-head-how-to-bg.png") 0px 0px;
}

#how-to .tab-head.current#tab-head-buy {
	background: url("../images/tab-head-how-to-bg.png") 0px 44.5px;
}

#how-to .tab-head#tab-head-sold {
	background: url("../images/tab-head-how-to-bg.png") 140px 44.5px;
}

#how-to .tab-head.current#tab-head-sold {
	background: url("../images/tab-head-how-to-bg.png") 140px 0px;
}

#how-to .tab-content-container.left {
	margin-left: 0px;
}

#how-to .tab-content-container.right {
	margin-left: -1000px;
}

#how-to ul.tab-contant {
	margin: 0px;
	width: 1000px;
	float: left;
	padding: 0px;
	list-style: none;
}

#how-to ul.tab-contant li {
	float: left;
	width: 250px;
	vertical-align: middle;
}

#how-to ul.tab-contant li .icon-step {
	float: left;
	height: 72px;
	margin-right: 8px;
	width: 75px;
}

#how-to ul.tab-contant li.step-1 .icon-step {
	background: url('../images/how-to-steps.png') 0px 0px;
}

#how-to ul.tab-contant li.step-1.hovered .icon-step {
	background: url('../images/how-to-steps.png') 0px -72.6px;
}

#how-to ul.tab-contant li.step-2 .icon-step {
	background: url('../images/how-to-steps.png') 0px -144px;
}

#how-to ul.tab-contant li.step-2.hovered .icon-step {
	background: url('../images/how-to-steps.png') 0px -216px;
}

#how-to ul.tab-contant li.step-3 .icon-step {
	background: url('../images/how-to-steps.png') 0px -288px;
}

#how-to ul.tab-contant li.step-3.hovered .icon-step {
	background: url('../images/how-to-steps.png') 0px -360px;
}

#how-to ul.tab-contant li.step-4 .icon-step {
	background: url('../images/how-to-steps.png') 0px -432px;
}

#how-to ul.tab-contant li.step-4.hovered .icon-step {
	background: url('../images/how-to-steps.png') 0px -504px;
}

#how-to ul.tab-contant li .desc-title {
	color: #393c3d;
	margin-top: 10px;
	font-size: 20px;
}

#how-to ul.tab-contant li .desc-content {
	color: #707070;
	font-size: 14px;
}

#how-to ul.tab-contant li.hovered .desc-title,#how-to ul.tab-contant li.hovered .desc-content
	{
	color: #227dda;
}

#how-to ul.tab-contant#tab-sold {
	
}

#how-to .more {
	text-align: center;
	margin: 30px 0px 45px 0px;
}

#how-to .more a {
	color: #707070;
	font-size: 16px;
	text-decoration: none;
}

#how-to .more a:HOVER {
	color: #428bca;
}

#blocks {
	border-top: 1px solid #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
	background: #e7e7e7;
	padding: 45px 0px 15px 0px;
}

#blocks table {
	display: block;
}

#blocks table tr td {
	vertical-align: top;
}

#blocks table tr td.item {
	position: relative;
	padding: 0px 30px 30px 0px;
}

#blocks table tr td.item a:HOVER {
	/* filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	opacity: 0.6; */
	
}

#blocks table tr td.item a img {
	width: 320px;
	border: 1px solid #a1a1a1;
	height: 160px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

#blocks table tr td.item a div {
	left: 0px;
	top: 0px;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.50);
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 162px;
	position: absolute;
	width: 320px;
	height: 162px;
}

#blocks table tr td.item a:HOVER div {
	background-color: rgba(0, 0, 0, 0.2);
}

#blocks table tr td.text {
	padding-top: 45px;
	padding-left: 8px;
}

#blocks table tr td.text .title {
	font-size: 34px;
	color: #000000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}

#blocks table tr td.text .desc {
	margin: 40px 0px;
	font-size: 18px;
	color: #575757;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}

#suggestion {
	padding: 50px 0px 75px 0px;
}

#suggestion .title {
	font-size: 34px;
	color: #000000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}

#suggestion .desc {
	font-size: 18px;
	color: #575757;
	padding: 20px 0px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.50);
}

#suggestion .load-more-container {
	text-align: center;
	margin: 0px 0px 0px 0px;
}

#suggestion .load-more-container .house-item {
	display: none;
}

#suggestion .load-more-container #load-more {
	padding: 10px 96px;
}

#suggestion .loading {
	text-align: center;
	height: 36px;
	margin: 12px;
}

#suggestion .loading img {
	width: 36px;
	height: 36px;
}