.popup {
	display: none;
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid rgba(234, 238, 250, 0.6);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.popup .form-control{
	height: 38px;
}
.popup .title {
	background: #ebebeb;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 12px 16px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	color: #1e1e1e;
	font-weight: bolder;
	font-size: 16px;
}

.popup form {
	padding: 18px 15px 0px 15px;
	margin-bottom: 12px;
	color: #1e1e1e;
}

.popup form .form-group {
	position: relative;
	margin-bottom: 7px;
}

.popup form div.tip {
	margin-bottom: 8px;
}
.popup form div.error {
	color: #ff0101;
}
.popup form div.info {
	color: #c2c2c2;
}

.popup.login form .form-group {
	width: 270px;
}

.popup.register form .form-group {
	width: 312px;
}

.popup.login form .form-group {
	width: 270px;
}

.popup.register form .form-group {
	/* width: 312px; */
	width: 270px;
}

.popup.reset-password form .form-group {
	/* width: 312px; */
	width: 270px;
}

.popup.reset-password form .form-group.email-container {
	border-bottom: 1px solid #bbbbbb;
	padding: 7px 0px 15px 0px;
	margin-bottom: 15px;
}

.popup.reset-password form .form-group.email-container>div {
	position: relative;
}

.popup.login form .form-group.remember-me {
	border-bottom: 1px #d1d1d1 solid;
	padding-bottom: 7px;
	margin: 15px 0px;
}

.popup.register form .form-group.clause {
	border-bottom: 1px #d1d1d1 solid;
	height: 42px;
	line-height: 42px;
	margin-bottom: 15px;
	margin-top: -7px;
}

.popup.register form .form-group.clause {
	border-bottom: 1px #d1d1d1 solid;
	height: 42px;
	line-height: 42px;
	margin-bottom: 15px;
	margin-top: -7px;
}

.popup form .form-group.action {
	margin-bottom: 12px;
}

.popup .form-group button {
	width: 100%;
	height: 37px;
	letter-spacing: 6px;
}

.popup.login .form-group input:not ([type="checkbox"] ).form-control {
	font-size: 16px;
	height: 40px;
}

.popup.login .form-group input:not ([type="checkbox"] ).form-control {
	color: #1e1e1e;
}

.popup .form-group textarea {
	color: #227dda;
}