@CHARSET "utf-8";

.rich-circle {
	width: 68px;
	height: 68px;
}

.rich-circle .pie {
	width: 68px;
	height: 68px;
	background-color: #227dda;
	border-radius: 39px;
	position: absolute;
}

.rich-circle .hold {
	width: 68px;
	height: 68px;
	position: absolute;
	z-index: 1;
}

.rich-circle .pie1 {
	clip: rect(0px, 68px, 68px, 39px);
}

.rich-circle .pie2 {
	clip: rect(0px, 39px, 68px, 0px);
}

.rich-circle .hold1 {
	clip: rect(0px, 68px, 68px, 39px);
}

.rich-circle .hold2 {
	clip: rect(0px, 39px, 68px, 0px);
}

.rich-circle .bg {
	width: 68px;
	height: 68px;
	background-color: #dadada;
	border-radius: 39px;
	position: absolute;
}

.rich-circle .content {
	 width: 60px;
	height: 60px;
	margin: 4px 0 0 4px;
	background-color: #fff;
	border-radius: 39px;
	position: absolute;
	z-index: 1; 
}