@CHARSET "utf-8";

div p.slider-tip-left {
	float: left;
	display: inline-block;
	margin: 5px 0px 0px 0px;
}

div p.slider-tip-right {
	float: right;
	display: inline-block;
	margin: 5px 0px 0px 0px;
}

.ui-slider a.ui-slider-handle {
	-webkit-border-radius: 22px;
	border-radius: 22px;
	cursor: pointer;
	box-shadow: 0px 1px 1px #c0c0c0;
}

a.ui-slider-handle:focus {
	outline: none !important;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content {
	background: #d2d2d2;
}

a.ui-slider-handle.ui-state-hover,a.ui-slider-handle.ui-state-focus {
	border: 1px solid #cccccc;
	background: #f6f6f6
		url(../lib/jquery-ui/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png)
		50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}

.ui-slider-range.ui-widget-header {
	background: #227dda;
}