@CHARSET "utf-8";

.tax-calculator {
	background: #ffffff;
	overflow: hidden;
	padding: 20px 0px;
	margin-top: 18px;
}

.tax-calculator .title {
	position: relative;
	text-indent: 32px;
	font-weight: bolder;
	font-size: 16px;
	color: #313131;
	margin-left: 22px;
	margin-bottom: 8px;
}

.tax-calculator .title .icon-tax-calculator {
	display: inline-block;
	width: 23px;
	height: 21px;
	position: absolute;
	background: url("../images/icon-tax-calculator.png");
	left: 0px;
	top: 50%;
	margin-top: -11px;
}

.tax-calculator .content-container {
	width: 100%;
	overflow: hidden;
}

.tax-calculator .content-container .content {
	width: 568px;
}

.tax-calculator .content .input-data {
	width: 284px;
	padding: 0px 22px;
	float: left;
}

.tax-calculator .content .result {
	width: 284px;
	float: left;
	background: #ff00f;
}

.tax-calculator .content .input-data .item {
	vertical-align: middle;
}

.tax-calculator .content .input-data .item.error {
	text-align: center;
}

.tax-calculator .content .input-data .item.error span {
	display: none;
	font-size: 12px;
	color: #ed1c24;
	text-align: center;
	height: 38px;
	line-height: 38px;
}

.tax-calculator .content .input-data .item.has-error input {
	border: 1px solid #ff0000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.tax-calculator .content .input-data .item.has-error input:FOCUS {
	border-color: #ff0000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#dd0000;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dd0000;
}

.tax-calculator .content .input-data .label {
	float: left;
	font-size: 14px;
	color: #6e6e6e;
	line-height: 38px;
	padding: 0px;
	font-weight: normal;
}

.tax-calculator .content .input-data .item.has-error .label {
}

.tax-calculator .content .input-data .value {
	float: right;
	position: relative;
	margin-top: 8px;
}

.tax-calculator .content .input-data .value ul.dropdown-menu {
	min-width: 98px;
	max-width: 98px;
}

.tax-calculator .content .input-data .value input {
	border: 1px solid #d5d6d2;
	width: 98px;
	color: #959595;
	font-size: 14px;
	background: #ecede8;
	text-indent: 6px;
}
.tax-calculator .content .input-data .value input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.tax-calculator .content .input-data .actions {
	margin-top: 16px;
}

.tax-calculator .content .input-data .actions button {
	width: 116px;
}
.tax-calculator .content .input-data .actions button[disabled] {
	background: #cccccc;
	color: #ffffff;
}

.tax-calculator .content .result img#tax-calculator-back {
	cursor: pointer;
}

.tax-calculator .content .result>div {
	padding: 0px 22px;
}

.tax-calculator .content .result>div.sub-title {
	margin: 6px 0px 12px 0px;
	font-size: 16px;
	color: #313131;
}

.tax-calculator .content .result>div.totlal {
	margin: 18px 0px 12px 0px;
	font-size: 14px;
	color: #313131;
}

.tax-calculator .content .result>div.calculated-result {
	margin: 6px 0px 12px 0px;
	font-size: 30px;
	color: #ff9933;
}

.tax-calculator .content .result>div.note {
	text-align: center;
	font-size: 12px;
	color: #ed1c24;
	margin-top: 18px;
}

.tax-calculator .content .result dl {
	background: #f4f4f4;
	padding: 14px 20px;
	border-top: 1px #d2d2d2 solid;
	border-bottom: 1px #d2d2d2 solid;
	margin: 0px;
}

.tax-calculator .content .result dl dd {
	width: 122px;
	float: left;
	height: 82px;
	margin: 0px;
	padding: 14px 0px;
}

.tax-calculator .content .result dl dd span.name {
	display: block;
	font-size: 14px;
	color: #313131;
}

.tax-calculator .content .result dl dd span.value {
	display: block;
	font-size: 24px;
	margin-top: 6px;
	color: #6e6e6e;
}

.tax-calculator .content .result dl dd.position-fix span {
	padding-left: 12px;
}