@CHARSET "utf-8";

body {
	background: #ffffff;
}

.welcome {
	padding: 42px 0px;
	background: #f7f7f7;
}

.welcome .pull-left {
	max-width: 512px;
}

.welcome .pull-left h1 {
	font-size: 48px;
	color: #1e1e1e;
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", '华文细黑', STHeiti, MingLiu '宋体';
}

.welcome .pull-left p {
	color: #6e6e6e;
}

.welcome .pull-right img {
	margin-top: 28px;
}

.jobs .title {
	font-size: 32px;
	line-height: 37px;
	color: #227dda;
	margin: 30px 0px 28px 0px;
}

.jobs ul.categories {
	margin: 32px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}

.jobs ul.categories li {
	margin: 0px;
	padding: 0px 22px;
	display: inline-block;
	font-size: 18px;
	border-left: 1px solid #d5d5d5;
}

.jobs ul.categories li.first {
	border-left: 0px solid #d5d5d5;
	padding-left: 0px;
}

.jobs ul.categories li a {
	color: #6e6e6e;
	text-decoration: none;
}

.jobs ul.categories li a:HOVER,.jobs ul.categories li.hilight a {
	color: #1e1e1e;
}

.jobs .job-name {
	margin: 28px 0px;
	color: #227dda;
	font-size: 18px;
}

.jobs .subtitle {
	color: #1e1e1e;
	font-size: 14px;
	margin: 14px 0px;
}

.jobs ul.requirements {
	color: #6e6e6e;
	font-size: 14px;
	padding-left: 20px;
}

.fix-bottom-area {
	margin-bottom: 142px;
}