@CHARSET "utf-8";

.ui-tabs {
	margin-top: 20px;
	padding: 0px;
	font-family: "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei", '华文细黑',
		STHeiti, MingLiu '宋体';
	margin-left: -30px;
	margin-right: -30px;
}

.ui-tabs.ui-widget-content {
	border: 0px;
	background: none;
}

.ui-tabs .ui-tabs-nav li {
	margin: 1px 10px 0 0;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bolder;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-tabs .ui-tabs-nav li span.bubble-number{
	display: inline-block;
	background: #ff0000;
	position: absolute;
	right: -10px;
	min-width: 16px;
	font-size: 12px;
	height: 16px;
	line-height: 10px;
	margin-top: -8px;
	padding: 4px 4px;
	border-radius: 8px;
	text-align: center;
	color: #ffffff;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	width: 138px;
	text-align: center;
	padding: 0px;
	height: 32px;
	line-height: 32px;
}

.ui-tabs .ui-widget-header {
	background: none;
	border: 1px solid #d3d3d3;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
}

.ui-tabs .ui-tabs-nav {
	padding: 0px 18px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-tabs .ui-tabs-panel {
	background: #ffffff;
	border: 0px;
	padding: 1em 36px;
}

.ui-tabs a:FOCUS {
	outline: none;
}

.ui-tabs ul li.ui-state-default {
	background: #f5f5f5;
	box-shadow: 2px 0 2px -2px #c0c0c0;
	color: #707070;
	border-color: #ffffff;
}

.ui-tabs ul li.ui-state-default.ui-state-active {
	background: #ffffff;
	color: #707070;
	border-color: #d3d3d3;
}

.ui-tabs-panel .introduce {
	padding: 6px 20px 32px 20px;
	color: #707070;
}

.ui-tabs-panel .introduce .title {
	font-size: 16px;
	line-height: 16px;
	padding: 24px 0px 16px 0px;
	color: #313131;
}

.ui-tabs-panel .introduce .paragraph {
	font-size: 14px;
	line-height: 24px;
}