@CHARSET "UTF-8";

body {
	background: #ededed;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}

#navigation:AFTER {
	height: 1px;
	background: #b6b6b6;
}

.account-nav {
	width: 230px;
	background: #ffffff;
	border: 1px solid #d3d3d3;
	border-radius: 9px;
}

.account-nav .user-info {
	padding: 16px;
}

.account-nav .user-info .head img {
	width: 50px;
	height: 50px;
	border: 0px;
}

.account-nav .user-info .real-name {
	font-size: 18px;
	color: #227dda;
}

.account-nav .user-info .title {
	font-size: 12px;
	color: #6e6e6e;
}

.account-nav .user-info .email {
	font-size: 12px;
	color: #6e6e6e;
	width: 142px;
	margin-top: 10px;
}

.account-nav ul.account-menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.account-nav ul.account-menu li {
	position: relative;
	padding-left: 20px;
	border-top: 1px solid #d3d3d3;
	height: 40px;
}

.account-nav ul.account-menu li.hilight {
	background: #227dda;
}

.account-nav ul.account-menu li.last {
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.account-nav ul.account-menu li a {
	display: block;
}

.account-nav ul.account-menu li span.text {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #6e6e6e;
	font-size: 14px;
	text-indent: 40px;
}

.account-nav ul.account-menu li.hilight span.text {
	color: #ffffff;
}

.account-nav ul.account-menu li span.icon-account {
	position: absolute;
	display: inline-block;
	width: 29px;
	height: 29px;
	top: 50%;
	margin-top: -15px;
}

.account-nav ul.account-menu li span.icon-account.info {
	background: url("../../images/account/icons.png") -8px -6px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.info {
	background: url("../../images/account/icons.png") -48px -6px no-repeat;
}

.account-nav ul.account-menu li span.icon-account.password {
	background: url("../../images/account/icons.png") -8px -46px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.password {
	background: url("../../images/account/icons.png") -48px -46px no-repeat;
}

.account-nav ul.account-menu li span.icon-account.booked {
	background: url("../../images/account/icons.png") -8px -86px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.booked {
	background: url("../../images/account/icons.png") -48px -86px no-repeat;
}

.account-nav ul.account-menu li span.icon-account.sold {
	background: url("../../images/account/icons.png") -8px -126px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.sold {
	background: url("../../images/account/icons.png") -48px -126px no-repeat;
}

.account-nav ul.account-menu li span.icon-account.reputation {
	background: url("../../images/account/icons.png") -8px -166px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.reputation {
	background: url("../../images/account/icons.png") -48px -166px no-repeat;
}

.account-nav ul.account-menu li span.icon-account.rss {
	background: url("../../images/account/icons.png") -8px -206px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.rss {
	background: url("../../images/account/icons.png") -48px -206px no-repeat;
}

.account-nav ul.account-menu li span.icon-account.favorite {
	background: url("../../images/account/icons.png") -8px -246px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.favorite {
	background: url("../../images/account/icons.png") -48px -246px no-repeat;
}

.account-nav ul.account-menu li span.icon-account.comment {
	background: url("../../images/account/icons.png") -8px -286px no-repeat;
}

.account-nav ul.account-menu li.hilight span.icon-account.comment {
	background: url("../../images/account/icons.png") -48px -286px no-repeat;
}

.account-nav ul>li>a>span.bubble-number {
	display: inline-block;
	background: #ff0000;
	position: absolute;
	right: 12px;
	min-width: 16px;
	font-size: 12px;
	height: 16px;
	line-height: 10px;
	top: 50%;
	margin-top: -8px;
	padding: 4px 4px;
	border-radius: 8px;
	text-align: center;
	color: #ffffff;
}

#account-form-container {
	width: 738px;
	background: #ffffff;
	border: 1px solid #d3d3d3;
	border-radius: 9px;
	padding: 18px 30px;
}

#account-form-container .title {
	font-size: 18px;
	color: #1e1e1e;
	font-weight: bolder;
	margin-bottom: 30px;
}

#account-form-container form .form-item {
	margin: 16px 0px;
}

#account-form-container form .form-item .dropdown-container {
	display: inline-block;
	position: relative;
}

#account-form-container form .form-item label {
	width: 156px;
	text-align: right;
	color: #1e1e1e;
	font-weight: normal;
}

#account-form-container form .form-item input {
	display: inline-block;
	width: 156px;
	height: 28px;
	margin-left: 10px;
}

#account-form-container form .form-item .error {
	color: #ff0000;
}

#account-form-container form .form-item span.inner-text {
	display: inline-block;
	width: 24px;
	text-align: center;
}