@CHARSET "UTF-8";

.booked-list {
	margin: 0px 8px;
}

.booked-item {
	font-size: 14px;
	line-height: 24px;
	padding: 10px 0px;
	margin-bottom: 24px;
}

.booked-item .clearfix{
	position: relative;
}

.booked-item.template {
	display: none;
}

.booked-item .picture {
	width: 178px;
}

.booked-item .address .block a {
	color: #227dda;
}

.booked-item .block-address a,.booked-item .booked-day,.booked-item .status a
	{
	color: #6e6e6e;
}

.booked-item .block-address a:HOVER,.booked-item .status a:HOVER {
	color: #227dda;
}

.booked-item .improper a, .booked-item .unread a {
	color: #ff0000;
}

.booked-item table.options {
	margin-top: 16px;
	width: 100%;
	border: 1px #e2e2e2 solid;
	background: #fafafa;
}

.booked-item table {
	font-size: 14px;
	line-height: 14px;
}

.booked-item table.options tr.row1 td {
	padding: 14px 0px 0px 0px;
	vertical-align: bottom;
}

.booked-item table.options tr td.t-label {
	width: 124px;
	text-align: right;
	color: #1e1e1e;
	font-weight: bolder;
}

.booked-item table.options tr td.t-value {
	color: #6e6e6e;
}

.booked-item table.options tr td.t-right {
	width: 276px;
}

.booked-item table.options tr td.t-right button {
	width: 126px;
}

.booked-item table.options tr td.t-right button.cancel {
	margin-left: 8px;
}

.booked-item table.options tr td.t-right button[disabled] {
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #ffffff;
	background: #c2c2c2;
}

.booked-item table.options tr td.t-right button.fuck-enabled-but-look-like-disabled
	{
	color: #ffffff;
	background: #c2c2c2;
}

.booked-item table.options tr.row2 td {
	height: 60px;
}

.booked-item table.options tr.row2 td.text {
	padding: 10px 0px 0px 0px;
	vertical-align: top;
}