@CHARSET "UTF-8";

.ui-tabs #tab-buyer.ui-tabs-panel,.ui-tabs #tab-seller.ui-tabs-panel {
	padding-left: 0px;
	padding-right: 0px;
}

.reputation-value-container {
	margin: 0px 72px;
}

.reputation-value-container div {
	text-align: center;
	color: #313131;
	line-height: 36px;
}

.reputation-value-container div.title {
	font-size: 16px;
}

.reputation-value-container div.description {
	line-height: 24px;
}

.reputation-value-container div.description a {
	color: #227dda;
}

.reputation-value-container div.description a:HOVER {
	color: #428bca;
}

.ratingbar .br-widget {
	height: 36px;
	display: inline-block;
}

.ratingbar .br-widget a {
	background: url('../../images/account/rating-bar-star.jpg');
	background-position: -50px 0px;
	width: 36px;
	height: 36px;
	margin: 0px 7px;
	display: block;
	float: left;
}

.ratingbar .br-widget a:hover,.ratingbar .br-widget a.br-active,.ratingbar .br-widget a.br-selected
	{
	background-position: 0px 0px;
}

.ratingbar .br-widget.br-readonly a:hover,.ratingbar .br-widget.br-readonly a.br-active
	{
	background-position: -50px 0px;
}

.ratingbar .br-widget.br-readonly a.br-current,.ratingbar .br-widget.br-readonly a.br-selected
	{
	background-position: 0px 0px;
}

.fresh-table {
	margin-top: 20px;
}

.fresh-table .table-title {
	font-size: 18px;
	line-height: 18px;
	color: #1e1e1e;
	padding: 20px 36px;
	font-weight: bold;
}

.fresh-table .item {
	height: 43px;
	line-height: 43px;
}

.fresh-table .item.template {
	display: none;
}

.fresh-table  .item.head {
	background: #f4f5f9;
	font-weight: bolder;
}

.fresh-table .item div {
	display: inline-block;
}

.fresh-table .item div.date {
	width: 130px;
	padding: 0px 0px 0px 36px;
}

.fresh-table .item div.house-name {
	width: 214px;
	text-align: center;
}

.fresh-table .item div.order-id {
	width: 194px;
	text-align: center;
}
.fresh-table .item div.time {
	width: 164px;
	text-align: center;
}

.fresh-table .item div.reputation-value {
	width: 180px;
	text-align: center;
}

.ui-widget-content a {
	color: #227dda;
}

.popup.booked-item {
	padding: 12px;
	width: 693px;
}

.booked-item table.options tr.row2 td {
	height: 38px;
}