@CHARSET "UTF-8";

#my-sell-manage.popup {
	background-color: #ffffff;
}

#my-sell-manage.popup .ui-widget {
	font-family: 'Helvetica LT Std';
}

#my-sell-manage.popup .book-title {
	position: relative;
	line-height: 22px;
	height: 22px;
	font-size: 16px;
	vertical-align: middle;
	padding: 0px 24px;
	color: #313131;
}

#my-sell-manage.popup .book-title img {
	position: absolute;
	top: 50%;
	margin-top: -11px;
}

#my-sell-manage.popup .book-title span {
	line-height: 22px;
	display: inline-block;
	height: 22px;
	text-indent: 28px;
	font-weight: bolder;
}

#my-sell-manage.popup .calendar-container {
	margin-top: 12px;
	padding: 0px 24px;
	background-color: #ffffff;
}

#my-sell-manage.popup .calendar-container .pull-left {
	
}

#my-sell-manage.popup .calendar-container .datepicker {
	
}

.ui-datepicker {
	padding: 0px;
}

.ui-datepicker .ui-datepicker-prev .ui-icon {
	background: url("../../images/icon-calendar-prev.png") center no-repeat;
}

.ui-datepicker .ui-datepicker-next .ui-icon {
	background: url("../../images/icon-calendar-next.png") center no-repeat;
}

.ui-datepicker-calendar th {
	color: #6e6e6e;
}

/* 今天 */
.ui-datepicker .ui-state-highlight,.ui-datepicker .ui-widget-content .ui-state-highlight
	{
	background: #e6e6e6;
}
/* 选中的天 */
.ui-datepicker .ui-state-active,.ui-datepicker .ui-widget-content .ui-state-active
	{
	
}

#my-sell-manage.popup .ui-widget-content {
	border: 0px solid #dddddd;
	background: #ffffff;
}

.ui-datepicker table {
	width: auto;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

.ui-datepicker td .ui-state-default {
	padding: 4px 0px;
	width: 30px;
	vertical-align: middle;
	text-align: center;
}

.ui-datepicker td a {
	vertical-align: middle;
	text-align: center;
}

.ui-datepicker td span {
	text-align: center;
}

#my-sell-manage.popup .ui-widget-header {
	border: 0px solid #e78f08;
	background: #ffffff;
	color: #000000;
	font-weight: bold;
}

#my-sell-manage.popup .ui-state-default,#my-sell-manage.popup .ui-widget-content .ui-state-default
	{
	border: 0px solid #cccccc;
	background: #e2e2e2;
	font-weight: bold;
	color: #898989;
}

.ui-datepicker-other-month .ui-state-default {
	color: #6e6e6e;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled
	{
	opacity: 1.0;
	filter: Alpha(Opacity = 100);
	background: #ffffff;
}

.ui-datepicker-unselectable .ui-state-default,.ui-state-disabled .ui-state-default
	{
	background: #e6e6e6;
}

/* 可设置能否预约的天，也就是最近7天 */
.setting-available-days .ui-state-default {
	color: #ffffff !important;
}

.setting-available-days .ui-state-default.ui-state-active {
	background: #919191 !important;
}

.setting-available-days .ui-state-default:hover {
	opacity: .25;
	filter: Alpha(Opacity = 25);
}
/*可用预约的天，也就是房东这个可预约时间段的天  */
.book-available-days .ui-state-default {
	background: #febf00 !important;
	color: #ffffff !important;
}

.book-available-days .ui-state-default.ui-state-active {
	background: #d9a301 !important;
}

/*已经有人预约了天  */
.book-available-days .ui-state-default:hover {
	opacity: .25;
	filter: Alpha(Opacity = 25);
}

.booked-days .ui-state-default {
	background: #f7270b !important;
	color: #ffffff;
}

.booked-days .ui-state-default.ui-state-active {
	background: #c61a03 !important;
}

.booked-days .ui-state-default:hover {
	opacity: .25;
	filter: Alpha(Opacity = 25);
}

.selected-days .ui-state-default:hover {
	opacity: .85;
	filter: Alpha(Opacity = 85);
}

.selected-days .ui-state-default {
	background: #227dda;
	color: #ffffff;
}

.tobe-available-days .ui-state-default {
	background: #9edfff;
	color: #ffffff;
}

.ui-spinner.ui-widget .ui-spinner-input {
	margin-right: 0px;
}

.ui-spinner.ui-widget .ui-spinner-up {
	top: 4px;
	right: 2px;
}

.ui-spinner.ui-widget .ui-spinner-down {
	bottom: 4px;
	right: 2px;
}

#my-sell-manage.popup .legend {
	position: relative;
	text-align: center;
	margin: 10px 0px 10px 20px;
	font-size: 12px;
	line-height: 12px;
	color: #6e6e6e;
}

#my-sell-manage.popup .legend .legend-booked {
	position: absolute;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #f7270b;
	top: 50%;
	margin-top: -6px;
}

#my-sell-manage.popup .legend .legend-available {
	position: absolute;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #febf00;
	top: 50%;
	margin-top: -6px;
}

#my-sell-manage.popup .legend .text {
	display: inline-block;
	margin-left: 15px;
}

#my-sell-manage.popup .error {
	font-family: SimSun;
	color: #ff0101;
	text-align: center;
	font-size: 12px;
	margin: 8px 0px;
}

#my-sell-manage.popup .select-time {
	margin: 64px 0px 0px 0px;
}

#my-sell-manage.popup .select-time.visable {
	display: block;
}

.clear {
	clear: both;
}

#my-sell-manage.popup .select-time .time-item {
	font-family: Verdana;
	vertical-align: middle;
	cursor: pointer;
	height: 35px;
	padding: 5px 20px;
	box-sizing: inherit;
	color: #1e1e1e;
	font-weight: bold;
}

#my-sell-manage.popup .select-time .time-item.selected {
	/*
	当选中一个可选时段后，右侧开关被点亮，但同时这个时间条被固定上了深灰色底色条。
能否改成仅开关变亮，深灰色底色条还是跟着鼠标跑，不做固定处理。
	 background-color: #959595; */
	
}

#my-sell-manage.popup .select-time .time-item.disabled {
	color: #959595;
	cursor: pointer;
	filter: alpha(opacity = 50);
	opacity: 0.5
}

#my-sell-manage.popup .select-time .time-item:hover {
	background-color: #959595;
	color: #ffffff;
}

#my-sell-manage.popup .select-time .time-item div.time {
	display: inline-block;
	margin-right: 6px;
	font-size: 14px;
}

#my-sell-manage.popup .select-time .time-item .checkbox {
	display: inline-block;
	padding-left: 0px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-right: 6px;
	width: 38px;
}

#my-sell-manage.popup .select-time .time-item .checkbox .checkbox-bg {
	width: 38px;
	height: 16px;
	overflow: hidden;
}

#my-sell-manage.popup .select-time .time-item .checkbox .checkbox-bg .checked-bg
	{
	background-image: url("../../images/checkbox-checked.png");
	float: left;
	width: 38px;
	height: 16px;
}

#my-sell-manage.popup .select-time .time-item .checkbox .checkbox-bg .unchecked-bg
	{
	background-image: url("../../images/checkbox-unchecked.png");
	float: left;
	width: 38px;
	height: 16px;
}

#my-sell-manage.popup .select-time .time-item .checkbox .blockContainer
	{
	position: relative;
	margin-top: -15px;
}

#my-sell-manage.popup .select-time .time-item .checkbox .blockContainer.left
	{
	margin-left: 2px;
}

#my-sell-manage.popup .select-time .time-item .checkbox .blockContainer.right
	{
	margin-left: 20px;
}

#my-sell-manage.popup .select-time .time-item .checkbox .blockContainer .block
	{
	background-image: url("../../images/checkbox-block.png");
	width: 17px;
	height: 14px;
}

#my-sell-manage.popup .select-time .time-item .booked-info {
	display: inline-block;
	font-size: 14px;
	color: #6e6e6e;
}

#my-sell-manage.popup .select-time .book-person-limited-container {
	display: inline-block;
	padding: 0px 0px;
}

#my-sell-manage.popup .select-time .book-person-limited-container input#book-person-limited-value
	{
	display: inline-block;
	width: 58px;
	height: 28px;
	margin-left: 6px;
	background: #ffffff;
	cursor: auto;
}
#my-sell-manage.popup .select-time .book-person-limited-container input#book-person-limited-value.gray
	{
	background: #eeeeee;
}

#my-sell-manage.popup .spllite {
	height: 1px;
	background-color: #bebebe;
}

#my-sell-manage.popup .options {
	text-align: center;
	margin: 24px 0px;
}

#my-sell-manage.popup .other-info-container {
	margin: 10px 24px;
	padding: 14px 0px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}

#my-sell-manage.popup .other-info-container .booked-manage-set-price-container
	{
	display: inline-block;
	width: 265px;
}

#my-sell-manage.popup .other-info-container .booked-manage-set-price-container input#booked-manage-set-price
	{
	display: inline-block;
	width: 138px;
	height: 28px;
	margin-left: 14px;
	margin-right: 6px;
}

#my-sell-manage.popup .other-info-container .booked-manage-set-price-container input#booked-manage-set-price.has-error
	{
	border: 1px solid #ff0000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#my-sell-manage.popup .other-info-container .price-error {
	margin: 12px 0px 0px 42px;
	color: #ff0000;
	display: none;
}

#my-sell-manage.popup .other-info-container .sell-status-container {
	display: inline-block;
}

#my-sell-manage.popup .other-info-container .sell-status-container div {
	display: inline-block;
	position: relative;
}

#my-sell-manage.popup .other-info-container .sell-status-container div ul.dropdown-menu
	{
	min-width: 138px;
	margin-left: 14px;
}

#my-sell-manage.popup .other-info-container .sell-status-container div input#sell-status
	{
	display: inline-block;
	margin-left: 14px;
	width: 138px;
	height: 28px;
}

#my-sell-manage.popup .other-info-container .sell-status-container div input#sell-status:FOCUS
	{
	border-color: #cccccc;
}

#my-sell-manage.popup .options button {
	width: 108px;
	display: inline-block;
	margin: 0px 10px;
}

#message {
	display: none;
}

.popup.book-confirm {
	width: 558px;
	margin-top: 32px;
}

.popup.book-confirm form {
	padding: 0px 0px 14px 0px;
	font-family: Arial, "Microsoft YaHei", '微软雅黑', "Microsoft JhengHei",
		'华文细黑', STHeiti, MingLiu '宋体';
}

.popup.book-confirm form .step {
	padding: 18px 8px 12px 32px;
}

.popup.book-confirm form .step .description {
	font-size: 12px;
	margin-top: 12px;
	padding-right: 12px;
	color: #1e1e1e;
}

.popup.book-confirm form .step .text {
	padding: 0px 12px;
	color: #1e1e1e;
	font-size: 14px;
	width: 160px;
}

.popup.book-confirm form .step .text.right {
	width: 170px;
	padding: 0px;
}

.popup.book-confirm form .step .error {
	color: #ff0101;
}

}
.popup.book-confirm form .step .text.right {
	border-left: 1px solid #cccccc;
	width: 170px;
	padding-right: 0px;
}

.popup.book-confirm form .step .text .head {
	font-weight: bolder;
}

.popup.book-confirm form .step .text .content {
	margin-top: 4px;
}

.popup.book-confirm .form-group label {
	width: 56px;
	color: #1e1e1e;
	text-align: right;
	font-weight: normal;
	text-align: right;
}

.popup.book-confirm .checkbox label {
	width: 100%;
}

.popup.book-confirm .checkbox input[type="checkbox"] {
	display: inline-block;
	margin-left: 0px;
	margin-right: 8px;
}

.popup.book-confirm .form-group input {
	width: 138px;
	height: 28px;
	margin: 0px 15px;
	display: inline-block;
}

.popup.book-confirm .tip {
	font-size: 12px;
	color: #1e1e1e;
	margin-bottom: 0px;
	margin-top: 14px;
}

.popup.book-confirm button#book-confirmed-action {
	width: 148px;
	height: 32px;
}

.popup.book-confirm-result {
	width: 480px;
}

.popup.book-confirm-result .title {
	background: none;
	border: none;
	color: #227dda;
	text-align: center;
	font-size: 18px;
	padding: 20px;
}

.popup.book-confirm-result .description {
	padding: 0px 12px;
	text-align: center;
}

.popup.book-confirm-result .action {
	text-align: center;
	margin: 24px 0px;
}

.popup#booked-cannot-edit-alert {
	width: 332px;
	padding: 36px;
	background: #ffffff;
	border-radius: 6px;
	color: #1e1e1e;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}