<!doctype html>
<html lang="us">
<head>
<meta charset="utf-8">
<title>UI</title>
<style type="text/css">
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
img{
	width: 1500px;
}
</style>
<script src="/lib/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('img').bind('contextmenu', function(e) {
			return false;
		});
	});
</script>
</head>
<body>
	<img src="{{ picture }}"/>
</body>
</html>
